openapi: 3.2.0
info:
  title: Keystone Total Funds AM Cs API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: TotalFundsAMCs
paths:
  /companies/{company_id}/total_funds_amcs:
    get:
      summary: Companies/TotalFundsAmcs/List
      tags:
      - TotalFundsAMCs
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1395
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 4
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/1395/total_funds_amcs
                - rel: first
                  title: first
                  href: http://api.host.com/companies/1395/total_funds_amcs?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/companies/1395/total_funds_amcs?offset=0&limit=50
                total_funds_amcs:
                - id: 117
                  fund_id: 243
                  display_name: available fund 1
                  description: base description
                  amc_percentage: 0
                  afe_percentage: 0
                  ter_percentage: 0
                  risk_rating: null
                - id: 118
                  fund_id: 244
                  display_name: available fund 2
                  description: base description
                  amc_percentage: 0
                  afe_percentage: 0
                  ter_percentage: 0
                  risk_rating: null
                - id: 120
                  fund_id: 246
                  display_name: available target date fund 1
                  description: base description
                  amc_percentage: 0
                  afe_percentage: 0
                  ter_percentage: 0
                  risk_rating: null
                - id: 121
                  fund_id: 247
                  display_name: available target date fund 2
                  description: base description
                  amc_percentage: 0
                  afe_percentage: 0
                  ter_percentage: 0
                  risk_rating: null
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  total_funds_amcs:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_total_fund_amc'
        '401':
          description: Unauthorized
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_total_fund_amc:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        fund_id:
          type:
          - integer
          - 'null'
        display_name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        amc_percentage:
          type:
          - number
          - 'null'
          format: float
        afe_percentage:
          type:
          - number
          - 'null'
          format: float
        ter_percentage:
          type:
          - number
          - 'null'
          format: float
        risk_rating:
          type:
          - integer
          - 'null'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
