openapi: 3.2.0
info:
  title: Keystone Funds API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: Funds
paths:
  /companies/{company_id}/funds:
    get:
      summary: Funds/List
      tags:
      - Funds
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1105
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            id:
              type: array
              items:
                type: integer
            name:
              type: array
              items:
                type: string
            description:
              type: array
              items:
                type: string
            fund_provider:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - target_date_fund_group
        required: false
        example: include%5B%5D=target_date_fund_group
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      security:
      - oAuth2:
        - employee
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                when_caller_is_user:
                  value:
                    limit: 50
                    offset: 0
                    total: 4
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1102/funds
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1102/funds?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1102/funds?offset=0&limit=50
                    funds:
                    - id: 223
                      name: Fund-223
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 214
                    - id: 224
                      name: Fund-224
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 215
                    - id: 225
                      name: Fund-225
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 216
                    - id: 226
                      name: Fund-226
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 217
                when_caller_is_employee:
                  value:
                    limit: 50
                    offset: 0
                    total: 3
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1103/funds?include%5B%5D=target_date_fund_group
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1103/funds?include%5B%5D=target_date_fund_group&offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1103/funds?include%5B%5D=target_date_fund_group&offset=0&limit=50
                    funds:
                    - id: 227
                      name: Fund-227
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 218
                      target_date_fund_group: null
                    - id: 228
                      name: Fund-228
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 219
                      target_date_fund_group: null
                    - id: 229
                      name: Fund-229
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 220
                      target_date_fund_group:
                        id: 31
                        name: TDFGroup 31
                        goal: annuity
                        investment_strategy: passive
                success_with_client_credentials_token:
                  value:
                    limit: 50
                    offset: 0
                    total: 4
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1105/funds
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1105/funds?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1105/funds?offset=0&limit=50
                    funds:
                    - id: 235
                      name: Fund-235
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 226
                    - id: 236
                      name: Fund-236
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 227
                    - id: 237
                      name: Fund-237
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 228
                    - id: 238
                      name: Fund-238
                      display_name: base display name
                      description: base description
                      fact_sheet_url: null
                      fund_provider: FundProvider 229
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  funds:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_fund'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_target_date_fund_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        goal:
          type:
          - string
          - 'null'
        investment_strategy:
          type:
          - string
          - 'null'
    response_fund:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        fact_sheet_url:
          type:
          - string
          - 'null'
        fund_provider:
          type:
          - string
          - 'null'
        target_date_fund_group:
          $ref: '#/components/schemas/response_target_date_fund_group'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
