openapi: 3.2.0
info:
  title: Keystone Postponement API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: Postponement
paths:
  /companies/{company_id}/employees/{employee_id}/postponements:
    post:
      summary: Postponement/Create
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 807
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 422
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  deferral_on: '2026-08-06'
              invalid_parameters:
                value:
                  deferral_on: ''
            schema:
              type: object
              properties:
                include:
                  type: array
                  items:
                    enum:
                    - employee
      responses:
        '201':
          description: Creates a postponement
          content:
            application/json:
              example:
                id: 3
                employee_id: 422
                starts_on: '2026-08-05'
                ends_on: '2026-08-05'
                created_at: '2026-08-05T13:01:46.000+01:00'
                updated_at: '2026-08-05T13:01:46.000+01:00'
                deferral_on: '2026-08-06'
                cancelled_at: null
                links:
                - rel: employee
                  title: employee
                  href: https://api.host.com/companies/807/employees/422
              schema:
                $ref: '#/components/schemas/response_postponement'
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 1401
                  title: The deferral date is a required field.
                  detail: You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.
                  meta: {}
                  source:
                    pointer: /data/attributes/deferral_on
    get:
      summary: Postponement/List
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 819
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 429
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 0
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/819/employees/429/postponements
                - rel: first
                  title: first
                  href: http://api.host.com/companies/819/employees/429/postponements?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/companies/819/employees/429/postponements?offset=0&limit=50
                postponements: []
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  postponements:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_postponement'
  /companies/{company_id}/employees/{employee_id}/postponements/{id}:
    delete:
      summary: Postponement/Destroy
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: id
        in: path
        required: true
        example: 4
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 809
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 424
        schema:
          type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden when the employee already has a contribution
        '404':
          description: Not Found
    get:
      summary: Postponement/Get
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: id
        in: path
        required: true
        example: 7
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 815
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 427
        schema:
          type: string
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - employee
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 7
                employee_id: 427
                starts_on: '2026-08-05'
                ends_on: '2026-08-05'
                created_at: '2026-08-05T13:01:48.000+01:00'
                updated_at: '2026-08-05T13:01:48.000+01:00'
                deferral_on: '2026-08-06'
                cancelled_at: null
                links:
                - rel: employee
                  title: employee
                  href: https://api.host.com/companies/815/employees/427
              schema:
                $ref: '#/components/schemas/response_postponement'
        '404':
          description: Not Found
    put:
      summary: Postponement/Update
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: id
        in: path
        required: true
        example: 9
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 820
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 430
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 430
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Oakdale
                    civil_status: null
                    company_id: 820
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:49.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_518@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Alice
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Male
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 7101 Dapin Place
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: '65551'
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 547
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: TO7niFvglK
                    starts_on: '2016-08-05'
                    surname: Scott
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Captain
                    updated_at: '2026-08-05T13:01:49.000+01:00'
                    uuid: 3e08399f-b817-4918-b8fc-fb10803f8b1c
                    visa_number: null
                    works_in_uk: true
              invalid_parameters:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: ''
                  employee:
                    id: 431
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Merced
                    civil_status: null
                    company_id: 822
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:50.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_519@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Judy
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Male
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 93762 Crownhardt Lane
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: 33159-7551
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 549
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: sG0eSFEUZA
                    starts_on: '2016-08-05'
                    surname: Hicks
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Mx
                    updated_at: '2026-08-05T13:01:50.000+01:00'
                    uuid: 77837459-0bb2-470d-b23c-a7d366a11129
                    visa_number: null
                    works_in_uk: true
              forbidden_with_existing_contribution:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 432
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Sonoma
                    civil_status: null
                    company_id: 824
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:50.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_520@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Anne
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Male
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 115 Arkansas Plaza
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: '64624'
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 551
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: wkHS40WRo
                    starts_on: '2016-08-05'
                    surname: Simmons
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Sir
                    updated_at: '2026-08-05T13:01:50.000+01:00'
                    uuid: 60df9ab2-5913-413f-93f5-2b8f493bc396
                    visa_number: null
                    works_in_uk: true
              not_found:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 433
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Bell Gardens
                    civil_status: null
                    company_id: 826
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:51.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_521@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Kathy
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Female
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 07319 Buhler Street
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: '57118'
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 553
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: IJwxQ83rY1lD
                    starts_on: '2016-08-05'
                    surname: Johnston
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Dr
                    updated_at: '2026-08-05T13:01:51.000+01:00'
                    uuid: 303cfa8f-8ae9-4b70-a134-2ad92834a7c5
                    visa_number: null
                    works_in_uk: true
            schema:
              type: object
              properties:
                deferral_on:
                  type: string
                starts_on:
                  type: string
              required:
              - starts_on
              - deferral_on
      responses:
        '204':
          description: Updates a contribution with gross qualifying earnings
        '403':
          description: Forbidden when the employee already has a contribution
          content:
            application/json:
              example:
                errors:
                - code: 28
                  title: Employee has contributions.
                  detail: Postponement cannot be deleted or updated because there are contribution records for this employee.
                  form: null
                  attribute: base
                  error: postponement_is_frozen
                  meta: {}
                  source:
                    pointer: /base
        '404':
          description: Not Found
          content:
            application/json:
              example: ''
        '422':
          description: Failing with invalid parameters.
          content:
            application/json:
              example:
                errors:
                - code: 1401
                  title: The deferral date is a required field.
                  detail: You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.
                  meta: {}
                  source:
                    pointer: /data/attributes/deferral_on
    patch:
      summary: Postponement/Update
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: id
        in: path
        required: true
        example: 13
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 828
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 434
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 434
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Aliso Viejo
                    civil_status: null
                    company_id: 828
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:51.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_522@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Eric
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Female
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 137 Fair Oaks Road
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: 17418-2688
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 555
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: KJQAzf8a0D
                    starts_on: '2016-08-05'
                    surname: Garcia
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Bursar
                    updated_at: '2026-08-05T13:01:51.000+01:00'
                    uuid: 2b9ace5a-ef83-41dd-8f7c-ee21720a0b73
                    visa_number: null
                    works_in_uk: true
              invalid_parameters:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: ''
                  employee:
                    id: 435
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Highland
                    civil_status: null
                    company_id: 830
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:51.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_523@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Sara
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Female
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 39 Northland Street
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: 08515
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 557
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: L2cq74McU
                    starts_on: '2016-08-05'
                    surname: Larson
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Sir
                    updated_at: '2026-08-05T13:01:51.000+01:00'
                    uuid: 8a54af82-412c-4050-957d-badf75c87ec6
                    visa_number: null
                    works_in_uk: true
              forbidden_with_existing_contribution:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 436
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Fountain Valley
                    civil_status: null
                    company_id: 832
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:52.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_524@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Andrea
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Male
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 94 Maryland Terrace
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: 36119-4281
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 559
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: u0YxqQoYRAy
                    starts_on: '2016-08-05'
                    surname: Lewis
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Captain
                    updated_at: '2026-08-05T13:01:52.000+01:00'
                    uuid: 144b5d06-e89b-4398-b9cb-7dc59f8e2a3b
                    visa_number: null
                    works_in_uk: true
              not_found:
                value:
                  starts_on: '2026-08-05'
                  deferral_on: '2026-08-06'
                  postponement:
                    deferral_on: '2026-08-06'
                  employee:
                    id: 437
                    api_key: api_key
                    authentication_token: null
                    authentication_token_generated_at: null
                    automatically_enrolled: false
                    bank_account_detail_id: null
                    benefit_group_id: null
                    city: Baldwin Park
                    civil_status: null
                    company_id: 834
                    company_match: false
                    confirmation_token: null
                    contribute_if_entitled: true
                    country_code: GB
                    created_at: '2026-08-05T13:01:52.000+01:00'
                    customer_id: null
                    date_of_birth: '2001-08-05'
                    date_of_birth_confirmed: false
                    email: employee_525@example.com
                    employee_classification: null
                    employment_type: null
                    encrypted_password: null
                    ends_on: null
                    exit_reason: null
                    external_id: null
                    external_oidc_id: null
                    forename: Adam
                    gauth_enabled: false
                    gauth_secret: null
                    gauth_tmp: null
                    gender: Male
                    group_id: null
                    identity_person_id: null
                    kind_id: null
                    kind_type: Employee
                    last_sign_in_at: null
                    line1: 1 Lillian Street
                    line2: null
                    line3: null
                    member_type: null
                    middle_name: null
                    national_identifier_1: null
                    national_insurance_number: null
                    nationality_code: null
                    onboarded_at: null
                    online_login_disabled: false
                    opt_in_on: null
                    opt_out_on: null
                    opt_out_window_ends_on: null
                    opt_out_window_starts_on: null
                    opt_state: ignition
                    percentage_ownership: null
                    person_id: null
                    postcode: 04078-5819
                    referral_clicks: 0
                    region: null
                    remember_created_at: null
                    reset_password_sent_at: null
                    reset_password_token: null
                    retirement_age: 65
                    retirement_age_customised: false
                    retirement_date: '2066-08-05'
                    scheme_detail_id: 561
                    scheme_origin: standard
                    secondary_email: null
                    single_use_authentication_token: null
                    single_use_authentication_token_generated_at: null
                    slug: eBTzxLIEqbvt
                    starts_on: '2016-08-05'
                    surname: Coleman
                    target_retirement_age: null
                    target_retirement_date: null
                    telephone: null
                    temporary_password: temporary_password
                    title: Mx
                    updated_at: '2026-08-05T13:01:52.000+01:00'
                    uuid: d6997de2-8e1f-4223-8914-f84ba298b54e
                    visa_number: null
                    works_in_uk: true
            schema:
              type: object
              properties:
                deferral_on:
                  type: string
                starts_on:
                  type: string
              required:
              - starts_on
              - deferral_on
      responses:
        '204':
          description: Updates a contribution with gross qualifying earnings
        '403':
          description: Forbidden when the employee already has a contribution
          content:
            application/json:
              example:
                errors:
                - code: 28
                  title: Employee has contributions.
                  detail: Postponement cannot be deleted or updated because there are contribution records for this employee.
                  form: null
                  attribute: base
                  error: postponement_is_frozen
                  meta: {}
                  source:
                    pointer: /base
        '404':
          description: Not Found
          content:
            application/json:
              example: ''
        '422':
          description: Failing with invalid parameters.
          content:
            application/json:
              example:
                errors:
                - code: 1401
                  title: The deferral date is a required field.
                  detail: You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.
                  meta: {}
                  source:
                    pointer: /data/attributes/deferral_on
  /companies/{company_id}/postponements:
    post:
      summary: Companies/Postponements/Create
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1291
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_request:
                value:
                  employee_ids:
                  - 631
                  - 632
                  deferral_on: '2026-08-07'
            schema:
              type: object
              properties:
                employee_ids:
                  type: array
                  items:
                    type: integer
                deferral_on:
                  type: string
              required:
              - employee_ids
              - deferral_on
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                valid_request:
                  value: {}
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    errors:
                    - code: 374
                      title: You don't have the neccessary rights to perform this action.
                      detail: You don't have the necessary rights to perform this action.
                      form: null
                      attribute: base
                      error: generic_forbidden
                      meta: {}
                      source:
                        pointer: /base
        '422':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    errors:
                    - code: 100022
                      title: Not all related records could be found.
                      detail: Could not find all records associated with employee ids
                      meta: {}
                      source:
                        pointer: /data/attributes/employee_ids
    get:
      summary: Companies/Postponements/List with Historical Employee Data
      tags:
      - Postponement
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1300
        schema:
          type: string
      - name: include[]
        in: query
        items:
          type: string
        required: false
        example: include[]=employee
        schema:
          type: array
      responses:
        '200':
          description: Success with historical employee data
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 2
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/1300/postponements?include%5B%5D=employee
                - rel: first
                  title: first
                  href: http://api.host.com/companies/1300/postponements?include%5B%5D=employee&offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/companies/1300/postponements?include%5B%5D=employee&offset=0&limit=50
                postponements:
                - is_not_editable: true
                  id: 38
                  employee_id: 637
                  starts_on: '2026-08-05'
                  ends_on: '2026-08-05'
                  created_at: '2026-08-05T13:04:37.000+01:00'
                  updated_at: '2026-08-05T13:04:37.000+01:00'
                  deferral_on: '2026-08-06'
                  cancelled_at: null
                  links:
                  - rel: employee
                    title: employee
                    href: https://api.host.com/companies/1300/employees/637
                  employee:
                    updatable: true
                    id: 637
                    email: employee_733@example.com
                    forename: Michael
                    surname: Brown
                    date_of_birth: '2001-08-05'
                    national_insurance_number: MN123456C
                    gender: Male
                    telephone: null
                    identity_person_id: null
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: 5y1RSK
                    created_at: '2026-08-05T13:04:37.000+01:00'
                    updated_at: '2026-08-05T13:04:37.000+01:00'
                    confirmation_token: null
                    gauth_enabled: false
                    gauth_tmp: null
                    title: Ms
                    authentication_token: null
                    group_id: null
                    line2: null
                    city: Paramount
                    region: null
                    country: United Kingdom of Great Britain and Northern Ireland
                    postcode: 34945-7877
                    line1: 54 Porter Parkway
                    works_in_uk: true
                    starts_on: '2026-08-01'
                    authentication_token_generated_at: null
                    company_percentage: null
                    company_percentage_matched: 0
                    company_match: false
                    percentage: null
                    avc_percentage: null
                    total_employee_percentage: 0
                    total_contribution_percentage: 0
                    contribute_if_entitled: true
                    enforce_password: true
                    ends_on: '2026-06-10'
                    exit_reason: Employee left employment
                    onboarded_at: null
                    opt_out_on: null
                    opt_state: ignition
                    opt_in_on: null
                    opt_out_window_starts_on: null
                    opt_out_window_ends_on: null
                    subject_to_money_purchase_annual_allowance: null
                    money_purchase_annual_allowance_effective_on: null
                    active_special_cases: []
                    company_id: 1300
                    automatically_enrolled: false
                    contractually_enrolled: false
                    external_id: null
                    customer_id: null
                    referral_clicks: 0
                    retirement_age: 65
                    target_retirement_age: null
                    retirement_date: '2066-08-05'
                    target_retirement_date: null
                    secondary_email: null
                    middle_name: null
                    civil_status: null
                    country_code: GB
                    benefit_group_id: null
                    online_login_disabled: false
                    line3: null
                    uuid: c36d1b45-b8e8-4b0a-8a3f-b45993ebd9e3
                    eligible_for_modeller_projection: false
                    can_manage_contribution_rates: false
                    active_payroll_configuration: null
                    employment_type: null
                    tax_residency_status_name: null
                    salary_sacrifice_signed: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/1300
                    banned_params: []
                    intercom_user_id: emp637
                    intercom_user_id_hash: fd50b1ff20a826d64830cdd3e922ba2ad34c94000a2e0cf99b6fb98e34e38139
                - id: 39
                  employee_id: 638
                  starts_on: '2026-08-05'
                  ends_on: '2026-08-05'
                  created_at: '2026-08-05T13:04:37.000+01:00'
                  updated_at: '2026-08-05T13:04:37.000+01:00'
                  deferral_on: '2026-08-06'
                  cancelled_at: null
                  links:
                  - rel: employee
                    title: employee
                    href: https://api.host.com/companies/1300/employees/638
                  employee:
                    updatable: true
                    id: 638
                    email: employee_734@example.com
                    forename: Sarah
                    surname: Wilson
                    date_of_birth: '2001-08-05'
                    national_insurance_number: SW987654Z
                    gender: Male
                    telephone: null
                    identity_person_id: null
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: bVeKJohG9Lnv
                    created_at: '2026-08-05T13:04:37.000+01:00'
                    updated_at: '2026-08-05T13:04:37.000+01:00'
                    confirmation_token: null
                    gauth_enabled: false
                    gauth_tmp: null
                    title: Lady
                    authentication_token: null
                    group_id: null
                    line2: null
                    city: San Pablo
                    region: null
                    country: United Kingdom of Great Britain and Northern Ireland
                    postcode: '76990'
                    line1: 2284 Elka Alley
                    works_in_uk: true
                    starts_on: '2026-08-01'
                    authentication_token_generated_at: null
                    company_percentage: null
                    company_percentage_matched: 0
                    company_match: false
                    percentage: null
                    avc_percentage: null
                    total_employee_percentage: 0
                    total_contribution_percentage: 0
                    contribute_if_entitled: true
                    enforce_password: true
                    ends_on: null
                    exit_reason: null
                    onboarded_at: null
                    opt_out_on: null
                    opt_state: ignition
                    opt_in_on: null
                    opt_out_window_starts_on: null
                    opt_out_window_ends_on: null
                    subject_to_money_purchase_annual_allowance: null
                    money_purchase_annual_allowance_effective_on: null
                    active_special_cases: []
                    company_id: 1300
                    automatically_enrolled: false
                    contractually_enrolled: false
                    external_id: null
                    customer_id: null
                    referral_clicks: 0
                    retirement_age: 65
                    target_retirement_age: null
                    retirement_date: '2066-08-05'
                    target_retirement_date: null
                    secondary_email: null
                    middle_name: null
                    civil_status: null
                    country_code: GB
                    benefit_group_id: null
                    online_login_disabled: false
                    line3: null
                    uuid: 9b20a7a4-e749-474b-8586-1f559185e31d
                    eligible_for_modeller_projection: false
                    can_manage_contribution_rates: true
                    active_payroll_configuration: null
                    employment_type: null
                    tax_residency_status_name: null
                    salary_sacrifice_signed: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/1300
                    banned_params: []
                    intercom_user_id: emp638
                    intercom_user_id_hash: fd62cc1c0feda750266526e030e704c26892d58463dc8da20188ebd08a2a983e
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  postponements:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_postponement'
      description: 'Lists postponements for a company. When the ''exited_employees_visibility'' feature flag is enabled,

        postponements for employees who exited more than 6 weeks ago will display historical employee data

        (forename, surname, and national_insurance_number as they were at the time of exit) instead of current data.

        '
components:
  schemas:
    response_band:
      type: object
      properties:
        id:
          type: integer
        employee_minimum_percentage:
          type: number
          format: float
        employee_maximum_percentage:
          type:
          - number
          - 'null'
          format: float
        employer_percentage:
          type: number
          format: float
        starts_on:
          type: string
          format: date
        ends_on:
          type: string
          format: date
        range_min:
          type:
          - integer
          - 'null'
        range_max:
          type:
          - integer
          - 'null'
        default:
          type: boolean
    response_scheme_contribution_limit:
      type: object
      properties:
        minimum_one_off_contribution_amount:
          type: number
          format: float
        minimum_one_off_contribution_amount_currency:
          type: string
        maximum_one_off_contribution_amount:
          type: number
          format: float
        maximum_one_off_contribution_amount_currency:
          type: string
        minimum_recurring_contribution_amount:
          type: number
          format: float
        minimum_recurring_contribution_amount_currency:
          type: string
    response_adviser:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        signup_start:
          type:
          - string
          - 'null'
          format: text
        signup_finish:
          type:
          - string
          - 'null'
          format: text
        agent_number:
          type:
          - string
          - 'null'
        broker_channel:
          type:
          - string
          - 'null'
        broker_role:
          type:
          - string
          - 'null'
        abilities:
          type:
          - array
          - 'null'
          items: {}
        companies:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            companies:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser_import'
        company_tax_reliefs:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_tax_relief'
        shortcut:
          $ref: '#/components/schemas/response_adviser_shortcut'
    response_salary:
      type: object
      properties:
        annual_earnings_1:
          type:
          - number
          - 'null'
          format: float
        annual_earnings_2:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        effective_on:
          type: string
          format: date
        employee_id:
          type: integer
        id:
          type: integer
        updated_at:
          type: string
          format: date-time
        employee:
          $ref: '#/components/schemas/response_employee'
    response_company_automation:
      type: object
      properties:
        id:
          type: integer
        letter:
          type: boolean
        company_id:
          type: integer
        postponement_period:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_know_your_customer_data:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        reference:
          type:
          - string
          - 'null'
    response_ultimate_beneficial_owner_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        exempt:
          type: boolean
        exemption_reason:
          type:
          - string
          - 'null'
        natural_person_ubo:
          type: boolean
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_adviser_company:
      type: object
      properties:
        id:
          type: integer
        adviser_id:
          type: integer
        company_id:
          type: integer
        preferred_contact_user_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_customer:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        gauth_enabled:
          type: boolean
        gauth_tmp:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        building_name:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        building_number:
          type:
          - string
          - 'null'
        telephone:
          type:
          - string
          - 'null'
        alternative_telephone:
          type:
          - string
          - 'null'
        referee_id:
          type:
          - integer
          - 'null'
        referee_type:
          type:
          - string
          - 'null'
        referral_state:
          type: string
        referral_clicks:
          type:
          - integer
          - 'null'
        referral_reward_name:
          type:
          - string
          - 'null'
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        gender:
          type:
          - string
          - 'null'
        role:
          type:
          - string
          - 'null'
        middlename:
          type:
          - string
          - 'null'
        envelope_state:
          type: string
        enforce_password:
          type:
          - boolean
          - 'null'
        company_id:
          type:
          - integer
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        uuid:
          type: string
        preferred_locale:
          type:
          - string
          - 'null'
        smart_analytics_access_permitted:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        company:
          $ref: '#/components/schemas/response_company'
        employee:
          $ref: '#/components/schemas/response_employee'
        shortcut:
          $ref: '#/components/schemas/response_customer_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
    response_payment:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        amount:
          type:
          - number
          - 'null'
          format: float
        description:
          type:
          - string
          - 'null'
        invoice_name:
          type:
          - string
          - 'null'
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
        charge_on:
          type:
          - string
          - 'null'
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        invoice_url:
          type:
          - string
          - 'null'
        invoice_details_url:
          type:
          - string
          - 'null'
        invoice_details_file_name:
          type:
          - string
          - 'null'
        source_of_funds:
          type:
          - string
          - 'null'
    response_employee_plan_participation:
      type: object
      properties:
        id:
          type: integer
        in_waiting_period:
          type:
          - boolean
          - 'null'
        next_state:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
        state:
          type: string
    response_letter:
      type: object
      properties:
        id:
          type: integer
        subject:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        employee_id:
          type:
          - integer
          - 'null'
        read:
          type:
          - boolean
          - 'null'
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        created_by_id:
          type:
          - integer
          - 'null'
        created_by_type:
          type:
          - string
          - 'null'
        send_employee_temporary_password_notification:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_base_payroll_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        description:
          type:
          - string
          - 'null'
        frequency:
          type: string
        name:
          type: string
        salary_rate:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        uuid:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_company_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_beneficiary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        name:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: string
        postcode:
          type:
          - string
          - 'null'
        relation:
          type: string
        percentage:
          type: number
          format: float
        born_on:
          type: string
          format: date
        type:
          type: string
    response_benefit_check_result:
      type: object
      properties:
        id:
          type: integer
        benefit_id:
          type: integer
        state:
          type: string
        redirect_url:
          type:
          - string
          - 'null'
        has_redirect_url:
          type:
          - boolean
          - 'null'
        returned_back_at:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
          format: text
        automated_checks_available:
          type: boolean
    response_provider_scheme_migration:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
    response_adviser_import:
      type: object
      properties:
        id:
          type: integer
        status_code:
          type:
          - integer
          - 'null'
        state:
          type: string
        response_errors:
          type:
          - array
          - 'null'
          items: {}
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        type:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        success_row_count:
          type:
          - integer
          - 'null'
        fail_row_count:
          type:
          - integer
          - 'null'
        adviser_id:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        adviser:
          $ref: '#/components/schemas/response_adviser'
    response_valuation:
      type: object
      properties:
        id:
          type: integer
        amount:
          type:
          - number
          - 'null'
          format: float
        calculated_on:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_benefit_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        employee_contribution_holiday_permitted:
          type: boolean
        company_contribution_holiday_permitted:
          type: boolean
        band_range_type:
          type:
          - string
          - 'null'
        employer_earnings_type:
          type: string
        employee_earnings_type:
          type: string
        employer_salary_cap:
          type:
          - number
          - 'null'
          format: float
        employee_salary_cap:
          type:
          - number
          - 'null'
          format: float
        voluntary_enrolment:
          type: boolean
        profit_share_allowed:
          type: boolean
        contribution_match_type:
          type:
          - string
          - 'null'
        stop_contributions_permitted:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        enrolment_type:
          type:
          - string
          - 'null'
        bands:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_band'
    response_scheme_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_scheme_bank_detail:
      type: object
      properties:
        account_number:
          type:
          - string
          - 'null'
        bank_name:
          type: string
        swift_code:
          type: string
        in_favor_of:
          type: string
        currency:
          type:
          - string
          - 'null'
        exchange_rate:
          type:
          - number
          - 'null'
          format: float
    response_adviser_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_employee_configuration:
      type: object
      properties:
        benefits_out_suspended:
          type: boolean
        disabled_switching:
          type:
          - boolean
          - 'null'
        enable_auto_increase_percentage:
          type: boolean
        gone_away:
          type: boolean
        id:
          type: integer
        investments_locked:
          type: boolean
        valuation_under_review:
          type:
          - boolean
          - 'null'
        preferred_currency:
          type:
          - string
          - 'null'
        preferred_locale:
          type:
          - string
          - 'null'
        blocked_rejoin:
          type: boolean
    response_employee:
      type: object
      properties:
        updatable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        national_insurance_number:
          type:
          - string
          - 'null'
        gender:
          type: string
        telephone:
          type:
          - string
          - 'null'
        identity_person_id:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        confirmation_token:
          type:
          - string
          - 'null'
        gauth_enabled:
          type:
          - boolean
          - 'null'
        gauth_tmp:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        group_id:
          type:
          - integer
          - 'null'
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        company_percentage_matched:
          type:
          - number
          - 'null'
          format: float
        company_match:
          type: boolean
        percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        total_contribution_percentage:
          type:
          - number
          - 'null'
          format: float
        contribute_if_entitled:
          type: boolean
        enforce_password:
          type:
          - boolean
          - 'null'
        ends_on:
          type:
          - string
          - 'null'
          format: date
        exit_reason:
          type:
          - string
          - 'null'
        onboarded_at:
          type:
          - string
          - 'null'
          format: date-time
        opt_out_on:
          type:
          - string
          - 'null'
          format: date
        opt_state:
          type: string
        opt_in_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_starts_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_ends_on:
          type:
          - string
          - 'null'
          format: date
        subject_to_money_purchase_annual_allowance:
          type:
          - boolean
          - 'null'
        money_purchase_annual_allowance_effective_on:
          type:
          - string
          - 'null'
          format: date
        company_id:
          type: integer
        automatically_enrolled:
          type: boolean
        contractually_enrolled:
          type:
          - boolean
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        referral_clicks:
          type:
          - integer
          - 'null'
        retirement_age:
          type:
          - integer
          - 'null'
        target_retirement_age:
          type:
          - integer
          - 'null'
        retirement_date:
          type: string
          format: date
        target_retirement_date:
          type:
          - string
          - 'null'
          format: date
        secondary_email:
          type:
          - string
          - 'null'
        middle_name:
          type:
          - string
          - 'null'
        civil_status:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        online_login_disabled:
          type: boolean
        line3:
          type:
          - string
          - 'null'
        uuid:
          type: string
        eligible_for_modeller_projection:
          type:
          - boolean
          - 'null'
        can_manage_contribution_rates:
          type:
          - boolean
          - 'null'
        active_payroll_configuration:
          type:
          - object
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        employment_type:
          type:
          - string
          - 'null'
        tax_residency_status_name:
          type:
          - string
          - 'null'
        salary_sacrifice_signed:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        banned_params:
          type:
          - array
          - 'null'
          items:
            type: string
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        is_not_editable:
          type:
          - boolean
          - 'null'
        active_special_cases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_employee_special_case'
        contributions:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            contributions:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_contribution'
        letters:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            letters:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_letter'
        postponements:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            postponements:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_postponement'
        fund_splits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            fund_splits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_fund_split'
        valuations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            valuations:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_valuation'
        portfolios:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            portfolios:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_portfolio'
        benefits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit'
        employment_statuses:
          $ref: '#/components/schemas/response_employment_statuses'
        salaries:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            salaries:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_salary'
        customer:
          $ref: '#/components/schemas/response_customer'
        group:
          $ref: '#/components/schemas/response_group'
        company:
          $ref: '#/components/schemas/response_company'
        shortcut:
          $ref: '#/components/schemas/response_employee_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
        expression_of_wish:
          $ref: '#/components/schemas/response_expression_of_wish'
        employee_configuration:
          $ref: '#/components/schemas/response_employee_configuration'
        employee_plan_participation:
          $ref: '#/components/schemas/response_employee_plan_participation'
    response_expression_of_wish:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        follow_local_law:
          type: boolean
        beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        contingent_beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_contribution:
      type: object
      properties:
        is_not_editable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        category:
          type:
          - string
          - 'null'
        employee_id:
          type: integer
        period_type:
          type:
          - string
          - 'null'
        gross_qualifying_earnings:
          type:
          - number
          - 'null'
          format: float
        second_gross_qualifying_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        pensionable_earnings:
          type:
          - number
          - 'null'
          format: float
        employee_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        employer_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        employee_percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        state:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        contribute_if_entitled:
          type: boolean
        company_amount:
          type:
          - number
          - 'null'
          format: float
        employee_amount:
          type:
          - number
          - 'null'
          format: float
        employee_sal_sac_amount:
          type:
          - number
          - 'null'
          format: float
        total_employee_amount:
          type:
          - number
          - 'null'
          format: float
        life_cover_amount:
          type:
          - number
          - 'null'
          format: float
        voluntary_amount:
          type:
          - number
          - 'null'
          format: float
        ni_rebate_amount:
          type:
          - number
          - 'null'
          format: float
        total_amount:
          type:
          - number
          - 'null'
          format: float
        currency:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        ends_on:
          type:
          - string
          - 'null'
          format: date
        lower_level:
          type:
          - number
          - 'null'
          format: float
        upper_level:
          type:
          - number
          - 'null'
          format: float
        trigger_level:
          type:
          - number
          - 'null'
          format: float
        pensionable_earning_type:
          type:
          - string
          - 'null'
        contribution_type:
          type: string
        uuid:
          type: string
        company_name:
          type:
          - string
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        contribution_amounts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_contribution_amount'
        employee:
          $ref: '#/components/schemas/response_employee'
        scheme:
          $ref: '#/components/schemas/response_scheme'
    response_employee_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_fund:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        fact_sheet_url:
          type:
          - string
          - 'null'
        fund_provider:
          type:
          - string
          - 'null'
        target_date_fund_group:
          $ref: '#/components/schemas/response_target_date_fund_group'
    response_company:
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        registration_number:
          type:
          - string
          - 'null'
        tax_office_number:
          type:
          - string
          - 'null'
        tax_office_employer_reference:
          type:
          - string
          - 'null'
        legal_structure:
          type:
          - string
          - 'null'
        welcome_letters_reminder_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        pension_regulator_letter_code:
          type:
          - string
          - 'null'
        trading_address1:
          type:
          - string
          - 'null'
        trading_address2:
          type:
          - string
          - 'null'
        trading_address3:
          type:
          - string
          - 'null'
        trading_address_postcode:
          type:
          - string
          - 'null'
        trading_address_country:
          type:
          - string
          - 'null'
        reg_address1:
          type:
          - string
          - 'null'
        reg_address2:
          type:
          - string
          - 'null'
        reg_address3:
          type:
          - string
          - 'null'
        reg_address4:
          type:
          - string
          - 'null'
        reg_address_postcode:
          type:
          - string
          - 'null'
        reg_address_country:
          type:
          - string
          - 'null'
        pensionable_earning_type:
          type: string
        default_percentage:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        state:
          type: string
        employee_can_change_contribution:
          type: boolean
        uuid:
          type: string
        layout_configuration_id:
          type:
          - integer
          - 'null'
        relief_at_source_active:
          type:
          - boolean
          - 'null'
        only_employer_manages_membership:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        tax_relief_basis_type:
          type:
          - string
          - 'null'
        tax_relief_fallback_type:
          type:
          - string
          - 'null'
        direct_debit_optional:
          type: boolean
        skip_contribution_validations:
          type: boolean
        self_certification_started_at:
          type:
          - string
          - 'null'
          format: date-time
        customers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            customers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_customer'
        payments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            payments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_payment'
        employees:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            employees:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_employee'
        enrolments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            enrolments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_enrolment'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_import'
        advisers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            advisers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser'
        mandates:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            mandates:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_mandate'
        ultimate_beneficial_owners:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            ultimate_beneficial_owners:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_ultimate_beneficial_owner'
        benefit_groups:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefit_groups:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit_group'
        payroll_configurations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
[...]
