openapi: 3.2.0
info:
  title: Keystone Preview Contribution Rates API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: PreviewContributionRates
paths:
  /companies/{company_id}/employees/{employee_id}/preview_contribution_rates:
    get:
      summary: PreviewContributionRates/Get
      tags:
      - PreviewContributionRates
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 836
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 438
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                avc_percentage: null
                company_percentage: 5
                percentage: 5
                roth_percentage: 0
                total_contribution_percentage: 10
                total_employee_percentage: null
              schema:
                $ref: '#/components/schemas/response_preview_contribution_rates'
        '404':
          description: Not Found
components:
  schemas:
    response_preview_contribution_rates:
      type: object
      properties:
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        percentage:
          type:
          - number
          - 'null'
          format: float
        roth_percentage:
          type:
          - number
          - 'null'
          format: float
        total_contribution_percentage:
          type:
          - number
          - 'null'
          format: float
        total_employee_percentage:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
