openapi: 3.2.0
info:
  title: Keystone SSIF Import API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: SSIF Import
paths:
  /ssif_imports/download_template:
    get:
      summary: SSIFImport/Get
      tags:
      - SSIF Import
      security:
      - oAuth2:
        - user
        - customer
      responses:
        '200':
          description: Success
          content:
            text/csv:
              example: 'EmployerId,Title,FirstName,MiddleName,Surname,Nationality,BirthDate,Gender,USDSalary,ContributionDueDate,EmployerContributionAmount,EmployerContributionPercent,EmployeeContributionAmount,EmployeeContributionPercent,PreviousAccrued,EmployeeID,PayrollName,EmploymentStartDate,MemberType,ExitReasonCode,ExitDate,Address1,Address2,Address3,City,CountryOfResidence,EmailAddress,SecondaryEmailAddress,PhoneNumber,NationalIDnumber1,NationalIDnumber2,VisaNumber

                ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

                '
        '404':
          description: Not found
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
