openapi: 3.2.0
info:
  title: Keystone Staging Date API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: StagingDate
paths:
  /tpr/staging_date:
    get:
      summary: StagingDate/Get
      tags:
      - StagingDate
      parameters:
      - name: num
        in: query
        required: false
        example: num=846
        schema:
          type: string
      - name: ref
        in: query
        required: false
        example: ref=MA24739
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                scheme_starts_on: '2016-01-01'
        '403':
          description: Forbidden
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
