openapi: 3.2.0
info:
  title: Keystone Declaration Of Compliance Employee Totals API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: DeclarationOfComplianceEmployeeTotals
paths:
  /companies/{company_id}/declaration_of_compliance_employee_totals:
    get:
      summary: DeclarationOfComplianceEmployeeTotals/List
      tags:
      - DeclarationOfComplianceEmployeeTotals
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 236
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    state: multiple_enrolments
                    employees_query_1_total: 2
                    employees_query_2_total: 1
                    date: '2026-08-05'
              schema:
                $ref: '#/components/schemas/response_declaration_of_compliance_employee_totals'
        '401':
          description: Unauthorized
components:
  schemas:
    response_declaration_of_compliance_employee_totals:
      type: object
      properties:
        state:
          type:
          - string
          - 'null'
        employees_query_1_total:
          type:
          - integer
          - 'null'
        employees_query_2_total:
          type:
          - integer
          - 'null'
        date:
          type:
          - string
          - 'null'
          format: date
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
