openapi: 3.2.0
info:
  title: Keystone Envelope Signing API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: EnvelopeSigning
paths:
  /companies/{company_id}/envelope/signing:
    get:
      summary: Companies/Envelope/Signing
      tags:
      - EnvelopeSigning
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1049
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success_for_adviser:
                  value:
                    url: https://www.google.com
                success_for_superadviser:
                  value:
                    url: https://www.google.com
                success_for_customer:
                  value:
                    url: https://www.google.com
              schema:
                $ref: '#/components/schemas/response_signing'
        '403':
          description: Forbidden - envelope for signing does not exist
components:
  schemas:
    response_signing:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
