openapi: 3.2.0
info:
  title: Keystone Third Party Payment Provider API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: ThirdPartyPaymentProvider
paths:
  /companies/{company_id}/third_party_payment_providers/{id}:
    delete:
      summary: Companies/ThirdPartyPaymentProvider/Destroy
      tags:
      - ThirdPartyPaymentProvider
      security:
      - oAuth2:
        - customer
      parameters:
      - name: id
        in: path
        required: true
        example: 2
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 1385
        schema:
          type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
