openapi: 3.2.0
info:
  title: Keystone Historical Contribution API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: HistoricalContribution
paths:
  /companies/{company_id}/employees/{employee_id}/historical_contributions/{id}:
    get:
      summary: HistoricalContribution/Get
      tags:
      - HistoricalContribution
      security:
      - oAuth2:
        - employee
      parameters:
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 640
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 310
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 1
                employee_id: 310
                ends_on: '2026-08-04'
                starts_on: '2025-08-05'
                created_at: '2026-08-05T13:01:05.579+01:00'
                updated_at: '2026-08-05T13:01:05.579+01:00'
                total_regular_avc_amount: 10
                total_regular_employee_amount: 10
                total_regular_employer_amount: 10
                total_single_avc_amount: 0
                total_single_employee_amount: 0
                total_single_employer_amount: 0
                total_amount: 30
              schema:
                $ref: '#/components/schemas/response_historical_contribution'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  schemas:
    response_historical_contribution:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        ends_on:
          type: string
          format: date
        starts_on:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        total_regular_avc_amount:
          type:
          - number
          - 'null'
          format: float
        total_regular_employee_amount:
          type:
          - number
          - 'null'
          format: float
        total_regular_employer_amount:
          type:
          - number
          - 'null'
          format: float
        total_single_avc_amount:
          type:
          - number
          - 'null'
          format: float
        total_single_employee_amount:
          type:
          - number
          - 'null'
          format: float
        total_single_employer_amount:
          type:
          - number
          - 'null'
          format: float
        total_amount:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
