openapi: 3.2.0
info:
  title: Keystone Employment Category API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: EmploymentCategory
paths:
  /companies/{company_id}/employment_categories:
    get:
      summary: Companies/EmploymentCategories/List
      tags:
      - EmploymentCategory
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1003
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 3
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/1003/employment_categories
                - rel: first
                  title: first
                  href: http://api.host.com/companies/1003/employment_categories?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/companies/1003/employment_categories?offset=0&limit=50
                employment_categories:
                - id: 1
                  name: Name 1
                  slug: name_1
                - id: 2
                  name: Name 2
                  slug: name_2
                - id: 3
                  name: Name 3
                  slug: name_3
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  employment_categories:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_employment_category'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  schemas:
    response_employment_category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
