openapi: 3.2.0
info:
  title: Keystone Customer API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: Customer
paths:
  /companies/{company_id}/customers:
    post:
      summary: Customers/Create
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 207
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_request:
                value:
                  forename: Elsa
                  surname: Frozen
                  postcode: CH1 LLY
                  email: snow@gmail.com
                  date_of_birth: '1995-01-01'
              invalid_parameter_request:
                value:
                  forename: ''
                  surname: ''
                  postcode: ''
              forbidden_request:
                value:
                  forename: Elsa
                  surname: Frozen
                  postcode: CH1 LLY
                  email: snow@gmail.com
                  date_of_birth: '1995-01-01'
            schema:
              type: object
              properties:
                date_of_birth:
                  type: string
                title:
                  type: string
                  enum:
                  - Mr
                  - Mrs
                  - Ms
                  - Miss
                  - Mx
                  - Dr
                  - Lord
                  - Lady
                  - Sir
                  - Prof
                  - Rev
                  - Captain
                  - Bursar
                forename:
                  type: string
                  maximum: 100
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                middlename:
                  type: string
                  minimum: 2
                  maximum: 50
                surname:
                  type: string
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                  minimum: 2
                  maximum: 80
                telephone:
                  type: string
                alternative_telephone:
                  type: string
                line1:
                  type: string
                  maximum: 140
                line2:
                  type: string
                  minimum: 2
                  maximum: 180
                city:
                  type: string
                  minimum: 2
                  maximum: 65
                county:
                  type: string
                  minimum: 2
                  maximum: 75
                postcode:
                  type: string
                  minimum: 2
                  maximum: 255
                email:
                  type: string
                  minimum: 6
                  maximum: 70
                building_name:
                  type: string
                  minimum: 2
                  maximum: 80
                building_number:
                  type: string
                  maximum: 80
                gender:
                  type: string
                  enum:
                  - Male
                  - Female
                  - Other
                  - Undeclared
                country_code:
                  type: string
                preferred_locale:
                  type: string
              required:
              - forename
              - surname
              - email
              - date_of_birth
              - postcode
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                intercom_user_id: cus95
                intercom_user_id_hash: 94c52306a2ced55c529ce19233813bf762bdaf45b4a6570db01cd730447b7782
                id: 95
                email: snow@gmail.com
                reset_password_sent_at: null
                remember_created_at: null
                last_sign_in_at: null
                slug: 2aa7dcd24068a5ce
                created_at: '2026-08-05T12:58:50.000+01:00'
                updated_at: '2026-08-05T12:58:50.000+01:00'
                gauth_enabled: false
                gauth_tmp: null
                forename: Elsa
                surname: Frozen
                title: null
                authentication_token: wNSTquRTAFz_z9fLPGWh
                date_of_birth: '1995-01-01'
                line2: null
                city: null
                county: null
                building_name: null
                postcode: CH1 LLY
                line1: null
                building_number: null
                telephone: null
                alternative_telephone: null
                referee_id: null
                referee_type: null
                referral_state: ignition
                referral_clicks: 0
                referral_reward_name: null
                authentication_token_generated_at: '2026-08-05T12:58:50.000+01:00'
                gender: Male
                role: admin
                middlename: null
                envelope_state: ignition
                enforce_password: true
                company_id: 207
                country_code: null
                uuid: 962f1bcc-27cb-4227-b04e-98f590c080e9
                preferred_locale: null
                smart_analytics_access_permitted: false
                links:
                - rel: company
                  title: company
                  href: https://api.host.com/companies/207
              schema:
                $ref: '#/components/schemas/response_customer'
        '403':
          description: Forbidden number of customers (max 50)
        '422':
          description: Invalid parameters
    get:
      summary: Customers/List
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 217
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            id:
              type: array
              items:
                type: integer
            referee_id:
              type: array
              items:
                type: integer
            role:
              type: array
              items:
                type: string
            envelope_state:
              type: array
              items:
                type: string
            forename:
              type: array
              items:
                type: string
            surname:
              type: array
              items:
                type: string
            email:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    limit: 50
                    offset: 0
                    total: 3
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/216/customers
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/216/customers?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/216/customers?offset=0&limit=50
                    customers:
                    - intercom_user_id: cus109
                      intercom_user_id_hash: 10c7b96956fe0fed49998515eb80e450379c6335cdb9099ad3c8ca94a528dbb9
                      id: 109
                      email: email_1@example.com
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: f388b782dfa282c7
                      created_at: '2026-08-05T12:58:54.000+01:00'
                      updated_at: '2026-08-05T12:58:54.000+01:00'
                      gauth_enabled: false
                      gauth_tmp: null
                      forename: forename
                      surname: surname
                      title: null
                      authentication_token: bEHwZzHdLWxwV3TgsLps
                      date_of_birth: '2011-08-05'
                      line2: null
                      city: null
                      county: null
                      building_name: null
                      postcode: postcode
                      line1: null
                      building_number: null
                      telephone: '+447890123223'
                      alternative_telephone: null
                      referee_id: null
                      referee_type: null
                      referral_state: ignition
                      referral_clicks: 0
                      referral_reward_name: null
                      authentication_token_generated_at: '2026-08-05T12:58:54.000+01:00'
                      gender: Male
                      role: admin
                      middlename: null
                      envelope_state: ignition
                      enforce_password: true
                      company_id: 216
                      country_code: null
                      uuid: b721340c-6241-45f4-860f-04a5b671d341
                      preferred_locale: null
                      smart_analytics_access_permitted: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/216
                    - intercom_user_id: cus110
                      intercom_user_id_hash: 8d44ed306704db3d993822eb27b8877bd2ededfda8f2dd668e7f935a7c0a8e1f
                      id: 110
                      email: email_2@example.com
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: 5021da6ed9f33aa5
                      created_at: '2026-08-05T12:58:54.000+01:00'
                      updated_at: '2026-08-05T12:58:54.000+01:00'
                      gauth_enabled: false
                      gauth_tmp: null
                      forename: forename
                      surname: surname
                      title: null
                      authentication_token: VnkUTVJzYdsSy38P59vo
                      date_of_birth: '2011-08-05'
                      line2: null
                      city: null
                      county: null
                      building_name: null
                      postcode: postcode
                      line1: null
                      building_number: null
                      telephone: '+447890123223'
                      alternative_telephone: null
                      referee_id: null
                      referee_type: null
                      referral_state: ignition
                      referral_clicks: 0
                      referral_reward_name: null
                      authentication_token_generated_at: '2026-08-05T12:58:54.000+01:00'
                      gender: Male
                      role: admin
                      middlename: null
                      envelope_state: ignition
                      enforce_password: true
                      company_id: 216
                      country_code: null
                      uuid: 1e26eafa-b892-46af-9e36-cdcdd268d5d1
                      preferred_locale: null
                      smart_analytics_access_permitted: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/216
                    - intercom_user_id: cus111
                      intercom_user_id_hash: 56cf950cfadb13d808c9421b2ed928504c18ac688425b47be8041494c1bb36bc
                      id: 111
                      email: wroberts@jabbersphere.mil
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: 68LwEshE
                      created_at: '2026-08-05T12:58:54.000+01:00'
                      updated_at: '2026-08-05T12:58:54.000+01:00'
                      gauth_enabled: false
                      gauth_tmp: null
                      forename: Willie
                      surname: Wilson
                      title: Sir
                      authentication_token: null
                      date_of_birth: '2001-08-05'
                      line2: 86108 Arkansas Point
                      city: Brisbane
                      county: Nevada
                      building_name: Merry
                      postcode: '96642'
                      line1: 719 Armistice Road
                      building_number: '978'
                      telephone: null
                      alternative_telephone: null
                      referee_id: null
                      referee_type: null
                      referral_state: ignition
                      referral_clicks: 0
                      referral_reward_name: null
                      authentication_token_generated_at: null
                      gender: Male
                      role: admin
                      middlename: null
                      envelope_state: ignition
                      enforce_password: true
                      company_id: 216
                      country_code: gb
                      uuid: d5acb7fa-b66d-4f5d-8a3b-cdc5b33675ea
                      preferred_locale: null
                      smart_analytics_access_permitted: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/216
                success_with_client_credentials_token:
                  value:
                    limit: 50
                    offset: 0
                    total: 2
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/217/customers
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/217/customers?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/217/customers?offset=0&limit=50
                    customers:
                    - intercom_user_id: cus112
                      intercom_user_id_hash: 942b78aa1b41bcdb96da27c101da2e779d2ee1da789e5865c83e35ba299de6ab
                      id: 112
                      email: email_1@example.com
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: 573458a7b8ceece8
                      created_at: '2026-08-05T12:58:54.000+01:00'
                      updated_at: '2026-08-05T12:58:54.000+01:00'
                      gauth_enabled: false
                      gauth_tmp: null
                      forename: forename
                      surname: surname
                      title: null
                      authentication_token: 7zBxzyqJ7mLAkDotM-TH
                      date_of_birth: '2011-08-05'
                      line2: null
                      city: null
                      county: null
                      building_name: null
                      postcode: postcode
                      line1: null
                      building_number: null
                      telephone: '+447890123223'
                      alternative_telephone: null
                      referee_id: null
                      referee_type: null
                      referral_state: ignition
                      referral_clicks: 0
                      referral_reward_name: null
                      authentication_token_generated_at: '2026-08-05T12:58:54.000+01:00'
                      gender: Male
                      role: admin
                      middlename: null
                      envelope_state: ignition
                      enforce_password: true
                      company_id: 217
                      country_code: null
                      uuid: d88d1a4f-712c-49ce-b9e8-7b61499b42cf
                      preferred_locale: null
                      smart_analytics_access_permitted: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/217
                    - intercom_user_id: cus113
                      intercom_user_id_hash: 7ac2d340afbd655d66c0eb98492e444aafafcc0bccc453845185bb0926eb9dcd
                      id: 113
                      email: email_2@example.com
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: 3e716e0b1c825d7c
                      created_at: '2026-08-05T12:58:54.000+01:00'
                      updated_at: '2026-08-05T12:58:54.000+01:00'
                      gauth_enabled: false
                      gauth_tmp: null
                      forename: forename
                      surname: surname
                      title: null
                      authentication_token: yuGrbBRQg9BMmK8KWxhz
                      date_of_birth: '2011-08-05'
                      line2: null
                      city: null
                      county: null
                      building_name: null
                      postcode: postcode
                      line1: null
                      building_number: null
                      telephone: '+447890123223'
                      alternative_telephone: null
                      referee_id: null
                      referee_type: null
                      referral_state: ignition
                      referral_clicks: 0
                      referral_reward_name: null
                      authentication_token_generated_at: '2026-08-05T12:58:54.000+01:00'
                      gender: Male
                      role: admin
                      middlename: null
                      envelope_state: ignition
                      enforce_password: true
                      company_id: 217
                      country_code: null
                      uuid: f0f2eaf6-534b-4283-b646-364a42cf4772
                      preferred_locale: null
                      smart_analytics_access_permitted: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/217
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  customers:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_customer'
        '401':
          description: Unauthorized
  /companies/{company_id}/customers/{id}:
    delete:
      summary: Customers/Destroy
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 210
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 103
        schema:
          type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden when customer is a signatory
          content:
            application/json:
              example:
                errors:
                - code: 279
                  title: You need to have at least one signatory.
                  detail: You need to have at least one signatory.
                  form: null
                  attribute: base
                  error: need_to_have_at_least_one_signatory
                  meta: {}
                  source:
                    pointer: /base
    get:
      summary: Customers/Get
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 214
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 107
        schema:
          type: string
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - company
            - company.scheme_detail
            - company.scheme_detail.company_tax_reliefs
            - company.scheme_details
            - company.know_your_customer_data
            - company.payroll_configurations
            - company.benefit_groups
            - company.bank_account_details
            - company.scheme
            - company.scheme.bank_detail
            - company.provider_scheme_migration
            - company.economic_zone
            - employee
            - employee.contributions
            - shortcut
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    intercom_user_id: cus105
                    intercom_user_id_hash: 386198d1aac26dc9aedcdb5886562bc4b707eb5de85e910f51088677ded0c756
                    id: 105
                    email: jhall@gigazoom.edu
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: qE9Qvc
                    created_at: '2026-08-05T12:58:51.000+01:00'
                    updated_at: '2026-08-05T12:58:51.000+01:00'
                    gauth_enabled: false
                    gauth_tmp: null
                    forename: Helen
                    surname: Hill
                    title: Dr
                    authentication_token: null
                    date_of_birth: '2001-08-05'
                    line2: 134 Delladonna Plaza
                    city: Calimesa
                    county: Oklahoma
                    building_name: Veith
                    postcode: '60673'
                    line1: 2470 Manufacturers Center
                    building_number: '37'
                    telephone: null
                    alternative_telephone: null
                    referee_id: null
                    referee_type: null
                    referral_state: ignition
                    referral_clicks: 0
                    referral_reward_name: null
                    authentication_token_generated_at: null
                    gender: Male
                    role: admin
                    middlename: null
                    envelope_state: ignition
                    enforce_password: true
                    company_id: 212
                    country_code: gb
                    uuid: 97c01042-618d-4dc2-8214-1f119ba867d7
                    preferred_locale: null
                    smart_analytics_access_permitted: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/212
                success_with_client_credentials_token:
                  value:
                    intercom_user_id: cus107
                    intercom_user_id_hash: 74481f8661a77a962ca375d31c8784cdd9e59adb3788038013e1a75481c2d31e
                    id: 107
                    email: jkennedy@photobean.info
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: VSnUOV
                    created_at: '2026-08-05T12:58:52.000+01:00'
                    updated_at: '2026-08-05T12:58:52.000+01:00'
                    gauth_enabled: false
                    gauth_tmp: null
                    forename: Ernest
                    surname: Knight
                    title: Dr
                    authentication_token: null
                    date_of_birth: '2001-08-05'
                    line2: 423 Briar Crest Way
                    city: Rancho Palos Verdes
                    county: Pennsylvania
                    building_name: Emmet
                    postcode: 74366-0508
                    line1: 7163 Norway Maple Parkway
                    building_number: '66'
                    telephone: null
                    alternative_telephone: null
                    referee_id: null
                    referee_type: null
                    referral_state: ignition
                    referral_clicks: 0
                    referral_reward_name: null
                    authentication_token_generated_at: null
                    gender: Male
                    role: signatory
                    middlename: null
                    envelope_state: ignition
                    enforce_password: true
                    company_id: 214
                    country_code: gb
                    uuid: f3adad46-9f5e-4aa9-a9bd-4da00a709b0e
                    preferred_locale: null
                    smart_analytics_access_permitted: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/214
              schema:
                $ref: '#/components/schemas/response_customer'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      summary: Customers/Update
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 230
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 131
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  alternative_telephone: +44 123 4567 890
                  building_name: ''
                  building_number: '123'
                  city: London
                  company_id: 230
                  country_code: GB
                  county: Sussex
                  date_of_birth: '1986-11-12'
                  line1: Wellington Square
                  line2: The Palace
                  middlename: ''
                  postcode: ZE0 0ZZ
                  telephone: +44 123 4567 890
                  title: Mr
                  email: vduncan@vimbo.edu
                  forename: James
                  surname: Bond
                  password: '!1234Qwertyuiop'
              invalid_parameters:
                value:
                  alternative_telephone: +44 123 4567 890
                  building_name: ''
                  building_number: '123'
                  city: London
                  company_id: 232
                  country_code: GB
                  county: Sussex
                  date_of_birth: '1986-11-12'
                  line1: Wellington Square
                  line2: The Palace
                  middlename: ''
                  postcode: ZE0 0ZZ
                  telephone: +44 123 4567 890
                  title: Mr
                  email: ''
                  forename: James
                  surname: Bond
                  password: '!1234Qwertyuiop'
            schema:
              type: object
              properties:
                date_of_birth:
                  type: string
                title:
                  type: string
                  enum:
                  - Mr
                  - Mrs
                  - Ms
                  - Miss
                  - Mx
                  - Dr
                  - Lord
                  - Lady
                  - Sir
                  - Prof
                  - Rev
                  - Captain
                  - Bursar
                forename:
                  type: string
                  maximum: 100
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                middlename:
                  type: string
                  minimum: 2
                  maximum: 50
                surname:
                  type: string
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                  minimum: 2
                  maximum: 80
                telephone:
                  type: string
                alternative_telephone:
                  type: string
                line1:
                  type: string
                  maximum: 140
                line2:
                  type: string
                  minimum: 2
                  maximum: 180
                city:
                  type: string
                  minimum: 2
                  maximum: 65
                county:
                  type: string
                  minimum: 2
                  maximum: 75
                postcode:
                  type: string
                  minimum: 2
                  maximum: 255
                email:
                  type: string
                  minimum: 6
                  maximum: 70
                building_name:
                  type: string
                  minimum: 2
                  maximum: 80
                building_number:
                  type: string
                  maximum: 80
                gender:
                  type: string
                  enum:
                  - Male
                  - Female
                  - Other
                  - Undeclared
                country_code:
                  type: string
                preferred_locale:
                  type: string
                password:
                  type: string
                current_password:
                  type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden email update for signatory with unsigned envelope
          content:
            application/json:
              example:
                errors:
                - code: 34
                  title: Company without envelope.
                  detail: The Participation Agreement cannot be generated because we are currently generating another one for the same company.
                  form: null
                  attribute: base
                  error: company_without_envelope
                  meta: {}
                  source:
                    pointer: /base
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 936
                  title: Email is too short.
                  detail: You need to enter an email with at least 6 characters.
                  meta:
                    count: 6
                  source:
                    pointer: /data/attributes/email
                - code: 906
                  title: Email address is a required field.
                  detail: You need to include the email address.
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 907
                  title: Email address is not valid.
                  detail: 'The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.'
                  meta: {}
                  source:
                    pointer: /data/attributes/email
    patch:
      summary: Customers/Update
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 233
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 134
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  alternative_telephone: +44 123 4567 890
                  building_name: ''
                  building_number: '123'
                  city: London
                  company_id: 233
                  country_code: GB
                  county: Sussex
                  date_of_birth: '1986-11-12'
                  line1: Wellington Square
                  line2: The Palace
                  middlename: ''
                  postcode: ZE0 0ZZ
                  telephone: +44 123 4567 890
                  title: Mr
                  email: cromero@photojam.name
                  forename: James
                  surname: Bond
                  password: '!1234Qwertyuiop'
              invalid_parameters:
                value:
                  alternative_telephone: +44 123 4567 890
                  building_name: ''
                  building_number: '123'
                  city: London
                  company_id: 235
                  country_code: GB
                  county: Sussex
                  date_of_birth: '1986-11-12'
                  line1: Wellington Square
                  line2: The Palace
                  middlename: ''
                  postcode: ZE0 0ZZ
                  telephone: +44 123 4567 890
                  title: Mr
                  email: ''
                  forename: James
                  surname: Bond
                  password: '!1234Qwertyuiop'
            schema:
              type: object
              properties:
                date_of_birth:
                  type: string
                title:
                  type: string
                  enum:
                  - Mr
                  - Mrs
                  - Ms
                  - Miss
                  - Mx
                  - Dr
                  - Lord
                  - Lady
                  - Sir
                  - Prof
                  - Rev
                  - Captain
                  - Bursar
                forename:
                  type: string
                  maximum: 100
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                middlename:
                  type: string
                  minimum: 2
                  maximum: 50
                surname:
                  type: string
                  x-ruby-regexp: (?-mix:\A[[:alpha:]\s‘’`'-]*\z)
                  minimum: 2
                  maximum: 80
                telephone:
                  type: string
                alternative_telephone:
                  type: string
                line1:
                  type: string
                  maximum: 140
                line2:
                  type: string
                  minimum: 2
                  maximum: 180
                city:
                  type: string
                  minimum: 2
                  maximum: 65
                county:
                  type: string
                  minimum: 2
                  maximum: 75
                postcode:
                  type: string
                  minimum: 2
                  maximum: 255
                email:
                  type: string
                  minimum: 6
                  maximum: 70
                building_name:
                  type: string
                  minimum: 2
                  maximum: 80
                building_number:
                  type: string
                  maximum: 80
                gender:
                  type: string
                  enum:
                  - Male
                  - Female
                  - Other
                  - Undeclared
                country_code:
                  type: string
                preferred_locale:
                  type: string
                password:
                  type: string
                current_password:
                  type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden email update for signatory with unsigned envelope
          content:
            application/json:
              example:
                errors:
                - code: 34
                  title: Company without envelope.
                  detail: The Participation Agreement cannot be generated because we are currently generating another one for the same company.
                  form: null
                  attribute: base
                  error: company_without_envelope
                  meta: {}
                  source:
                    pointer: /base
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 936
                  title: Email is too short.
                  detail: You need to enter an email with at least 6 characters.
                  meta:
                    count: 6
                  source:
                    pointer: /data/attributes/email
                - code: 906
                  title: Email address is a required field.
                  detail: You need to include the email address.
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 907
                  title: Email address is not valid.
                  detail: 'The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.'
                  meta: {}
                  source:
                    pointer: /data/attributes/email
  /companies/{company_id}/envelope/remind:
    post:
      summary: Companies/Envelope/Reminds/Create
      tags:
      - Customer
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1040
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              succcess: {}
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not Found - when no active envelope is found for the company with the ID in the request
          content:
            application/json:
              examples:
                wrong_company_id:
                  value: ''
                no_active_envelope_for_company:
                  value: ''
        '422':
          description: Unprocessable
  /customers/session:
    get:
      summary: Customers/Session
      tags:
      - Customer
      security:
      - oAuth2:
        - customer
      responses:
        '200':
          description: Success (jwt token flow)
          content:
            application/json:
              examples:
                plain_token_flow:
                  value:
                    intercom_user_id: cus531
                    intercom_user_id_hash: 08ee7452bcedf2d90c494f38cc9734857d6bd74e1d9f05beb3b2422675ba6965
                    id: 531
                    email: signatory@example.com
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: ef1cc0c1f98ae10b
                    created_at: '2026-08-05T13:05:26.000+01:00'
                    updated_at: '2026-08-05T13:05:26.000+01:00'
                    gauth_enabled: false
                    gauth_tmp: null
                    forename: forename
                    surname: surname
                    title: null
                    authentication_token: Cm_yiPgAaaRyGzWKsayj
                    date_of_birth: null
                    line2: null
                    city: null
                    county: null
                    building_name: null
                    postcode: null
                    line1: null
                    building_number: null
                    telephone: null
                    alternative_telephone: null
                    referee_id: null
                    referee_type: null
                    referral_state: ignition
                    referral_clicks: 0
                    referral_reward_name: null
                    authentication_token_generated_at: '2026-08-05T13:05:26.000+01:00'
                    gender: Male
                    role: signatory
                    middlename: null
                    envelope_state: ignition
                    enforce_password: true
                    company_id: 1423
                    country_code: null
                    uuid: c4251f38-c512-4706-bc24-3cc11b5bc3bb
                    preferred_locale: null
                    smart_analytics_access_permitted: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/1423
                jwt_token_flow:
                  value:
                    intercom_user_id: cus532
                    intercom_user_id_hash: b10451c755ddcc3c3835d42a0fb9fde9d923c8de5e290dda538fd8d5c8536eed
                    id: 532
                    email: signatory@example.com
                    reset_password_sent_at: null
                    remember_created_at: null
                    last_sign_in_at: null
                    slug: 2d366d8b261bb8bb
                    created_at: '2026-08-05T13:05:27.000+01:00'
                    updated_at: '2026-08-05T13:05:27.000+01:00'
                    gauth_enabled: false
                    gauth_tmp: null
                    forename: forename
                    surname: surname
                    title: null
                    authentication_token: J3nx3xiRydzx-GQFXqYV
                    date_of_birth: null
                    line2: null
                    city: null
                    county: null
                    building_name: null
                    postcode: null
                    line1: null
                    building_number: null
                    telephone: null
                    alternative_telephone: null
                    referee_id: null
                    referee_type: null
                    referral_state: ignition
                    referral_clicks: 0
                    referral_reward_name: null
                    authentication_token_generated_at: '2026-08-05T13:05:27.000+01:00'
                    gender: Male
                    role: signatory
                    middlename: null
                    envelope_state: ignition
                    enforce_password: true
                    company_id: 1424
                    country_code: null
                    uuid: 93421499-52a3-4fad-9640-7610758a8a50
                    preferred_locale: null
                    smart_analytics_access_permitted: false
                    links:
                    - rel: company
                      title: company
                      href: https://api.host.com/companies/1424
              schema:
                $ref: '#/components/schemas/response_customer'
        '401':
          description: Fail
components:
  schemas:
    response_band:
      type: object
      properties:
        id:
          type: integer
        employee_minimum_percentage:
          type: number
          format: float
        employee_maximum_percentage:
          type:
          - number
          - 'null'
          format: float
        employer_percentage:
          type: number
          format: float
        starts_on:
          type: string
          format: date
        ends_on:
          type: string
          format: date
        range_min:
          type:
          - integer
          - 'null'
        range_max:
          type:
          - integer
          - 'null'
        default:
          type: boolean
    response_scheme_contribution_limit:
      type: object
      properties:
        minimum_one_off_contribution_amount:
          type: number
          format: float
        minimum_one_off_contribution_amount_currency:
          type: string
        maximum_one_off_contribution_amount:
          type: number
          format: float
        maximum_one_off_contribution_amount_currency:
          type: string
        minimum_recurring_contribution_amount:
          type: number
          format: float
        minimum_recurring_contribution_amount_currency:
          type: string
    response_adviser:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        signup_start:
          type:
          - string
          - 'null'
          format: text
        signup_finish:
          type:
          - string
          - 'null'
          format: text
        agent_number:
          type:
          - string
          - 'null'
        broker_channel:
          type:
          - string
          - 'null'
        broker_role:
          type:
          - string
          - 'null'
        abilities:
          type:
          - array
          - 'null'
          items: {}
        companies:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            companies:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser_import'
        company_tax_reliefs:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_tax_relief'
        shortcut:
          $ref: '#/components/schemas/response_adviser_shortcut'
    response_salary:
      type: object
      properties:
        annual_earnings_1:
          type:
          - number
          - 'null'
          format: float
        annual_earnings_2:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        effective_on:
          type: string
          format: date
        employee_id:
          type: integer
        id:
          type: integer
        updated_at:
          type: string
          format: date-time
        employee:
          $ref: '#/components/schemas/response_employee'
    response_company_automation:
      type: object
      properties:
        id:
          type: integer
        letter:
          type: boolean
        company_id:
          type: integer
        postponement_period:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_know_your_customer_data:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        reference:
          type:
          - string
          - 'null'
    response_ultimate_beneficial_owner_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        exempt:
          type: boolean
        exemption_reason:
          type:
          - string
          - 'null'
        natural_person_ubo:
          type: boolean
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_adviser_company:
      type: object
      properties:
        id:
          type: integer
        adviser_id:
          type: integer
        company_id:
          type: integer
        preferred_contact_user_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_customer:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        gauth_enabled:
          type: boolean
        gauth_tmp:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        building_name:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        building_number:
          type:
          - string
          - 'null'
        telephone:
          type:
          - string
          - 'null'
        alternative_telephone:
          type:
          - string
          - 'null'
        referee_id:
          type:
          - integer
          - 'null'
        referee_type:
          type:
          - string
          - 'null'
        referral_state:
          type: string
        referral_clicks:
          type:
          - integer
          - 'null'
        referral_reward_name:
          type:
          - string
          - 'null'
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        gender:
          type:
          - string
          - 'null'
        role:
          type:
          - string
          - 'null'
        middlename:
          type:
          - string
          - 'null'
        envelope_state:
          type: string
        enforce_password:
          type:
          - boolean
          - 'null'
        company_id:
          type:
          - integer
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        uuid:
          type: string
        preferred_locale:
          type:
          - string
          - 'null'
        smart_analytics_access_permitted:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        company:
          $ref: '#/components/schemas/response_company'
        employee:
          $ref: '#/components/schemas/response_employee'
        shortcut:
          $ref: '#/components/schemas/response_customer_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
    response_payment:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        amount:
          type:
          - number
          - 'null'
          format: float
        description:
          type:
          - string
          - 'null'
        invoice_name:
          type:
          - string
          - 'null'
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
        charge_on:
          type:
          - string
          - 'null'
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        invoice_url:
          type:
          - string
          - 'null'
        invoice_details_url:
          type:
          - string
          - 'null'
        invoice_details_file_name:
          type:
          - string
          - 'null'
        source_of_funds:
          type:
          - string
          - 'null'
    response_employee_plan_participation:
      type: object
      properties:
        id:
          type: integer
        in_waiting_period:
          type:
          - boolean
          - 'null'
        next_state:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
        state:
          type: string
    response_letter:
      type: object
      properties:
        id:
          type: integer
        subject:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        employee_id:
          type:
          - integer
          - 'null'
        read:
          type:
          - boolean
          - 'null'
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        created_by_id:
          type:
          - integer
          - 'null'
        created_by_type:
          type:
          - string
          - 'null'
        send_employee_temporary_password_notification:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_base_payroll_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        description:
          type:
          - string
          - 'null'
        frequency:
          type: string
        name:
          type: string
        salary_rate:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        uuid:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_company_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_beneficiary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        name:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: string
        postcode:
          type:
          - string
          - 'null'
        relation:
          type: string
        percentage:
          type: number
          format: float
        born_on:
          type: string
          format: date
        type:
          type: string
    response_benefit_check_result:
      type: object
      properties:
        id:
          type: integer
        benefit_id:
          type: integer
        state:
          type: string
        redirect_url:
          type:
          - string
          - 'null'
        has_redirect_url:
          type:
          - boolean
          - 'null'
        returned_back_at:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
          format: text
        automated_checks_available:
          type: boolean
    response_provider_scheme_migration:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
    response_adviser_import:
      type: object
      properties:
        id:
          type: integer
        status_code:
          type:
          - integer
          - 'null'
        state:
          type: string
        response_errors:
          type:
          - array
          - 'null'
          items: {}
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        type:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        success_row_count:
          type:
          - integer
          - 'null'
        fail_row_count:
          type:
          - integer
          - 'null'
        adviser_id:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        adviser:
          $ref: '#/components/schemas/response_adviser'
    response_valuation:
      type: object
      properties:
        id:
          type: integer
        amount:
          type:
          - number
          - 'null'
          format: float
        calculated_on:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_benefit_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        employee_contribution_holiday_permitted:
          type: boolean
        company_contribution_holiday_permitted:
          type: boolean
        band_range_type:
          type:
          - string
          - 'null'
        employer_earnings_type:
          type: string
        employee_earnings_type:
          type: string
        employer_salary_cap:
          type:
          - number
          - 'null'
          format: float
        employee_salary_cap:
          type:
          - number
          - 'null'
          format: float
        voluntary_enrolment:
          type: boolean
        profit_share_allowed:
          type: boolean
        contribution_match_type:
          type:
          - string
          - 'null'
        stop_contributions_permitted:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        enrolment_type:
          type:
          - string
          - 'null'
        bands:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_band'
    response_scheme_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_scheme_bank_detail:
      type: object
      properties:
        account_number:
          type:
          - string
          - 'null'
        bank_name:
          type: string
        swift_code:
          type: string
        in_favor_of:
          type: string
        currency:
          type:
          - string
          - 'null'
        exchange_rate:
          type:
          - number
          - 'null'
          format: float
    response_adviser_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_employee_configuration:
      type: object
      properties:
        benefits_out_suspended:
          type: boolean
        disabled_switching:
          type:
          - boolean
          - 'null'
        enable_auto_increase_percentage:
          type: boolean
        gone_away:
          type: boolean
        id:
          type: integer
        investments_locked:
          type: boolean
        valuation_under_review:
          type:
          - boolean
          - 'null'
        preferred_currency:
          type:
          - string
          - 'null'
        preferred_locale:
          type:
          - string
          - 'null'
        blocked_rejoin:
          type: boolean
    response_employee:
      type: object
      properties:
        updatable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        national_insurance_number:
          type:
          - string
          - 'null'
        gender:
          type: string
        telephone:
          type:
          - string
          - 'null'
        identity_person_id:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        confirmation_token:
          type:
          - string
          - 'null'
        gauth_enabled:
          type:
          - boolean
          - 'null'
        gauth_tmp:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        group_id:
          type:
          - integer
          - 'null'
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        company_percentage_matched:
          type:
          - number
          - 'null'
          format: float
        company_match:
          type: boolean
        percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        total_contribution_percentage:
          type:
          - number
          - 'null'
          format: float
        contribute_if_entitled:
          type: boolean
        enforce_password:
          type:
          - boolean
          - 'null'
        ends_on:
          type:
          - string
          - 'null'
          format: date
        exit_reason:
          type:
          - string
          - 'null'
        onboarded_at:
          type:
          - string
          - 'null'
          format: date-time
        opt_out_on:
          type:
          - string
          - 'null'
          format: date
        opt_state:
          type: string
        opt_in_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_starts_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_ends_on:
          type:
          - string
          - 'null'
          format: date
        subject_to_money_purchase_annual_allowance:
          type:
          - boolean
          - 'null'
        money_purchase_annual_allowance_effective_on:
          type:
          - string
          - 'null'
          format: date
        company_id:
          type: integer
        automatically_enrolled:
          type: boolean
        contractually_enrolled:
          type:
          - boolean
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        referral_clicks:
          type:
          - integer
          - 'null'
        retirement_age:
          type:
          - integer
          - 'null'
        target_retirement_age:
          type:
          - integer
          - 'null'
        retirement_date:
          type: string
          format: date
        target_retirement_date:
          type:
          - string
          - 'null'
          format: date
        secondary_email:
          type:
          - string
          - 'null'
        middle_name:
          type:
          - string
          - 'null'
        civil_status:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        online_login_disabled:
          type: boolean
        line3:
          type:
          - string
          - 'null'
        uuid:
          type: string
        eligible_for_modeller_projection:
          type:
          - boolean
          - 'null'
        can_manage_contribution_rates:
          type:
          - boolean
          - 'null'
        active_payroll_configuration:
          type:
          - object
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        employment_type:
          type:
          - string
          - 'null'
        tax_residency_status_name:
          type:
          - string
          - 'null'
        salary_sacrifice_signed:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        banned_params:
          type:
          - array
          - 'null'
          items:
            type: string
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        is_not_editable:
          type:
          - boolean
          - 'null'
        active_special_cases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_employee_special_case'
        contributions:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            contributions:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_contribution'
        letters:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            letters:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_letter'
        postponements:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            postponements:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_postponement'
        fund_splits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            fund_splits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_fund_split'
        valuations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            valuations:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_valuation'
        portfolios:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            portfolios:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_portfolio'
        benefits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit'
        employment_statuses:
          $ref: '#/components/schemas/response_employment_statuses'
        salaries:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            salaries:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_salary'
        customer:
          $ref: '#/components/schemas/response_customer'
        group:
          $ref: '#/components/schemas/response_group'
        company:
          $ref: '#/components/schemas/response_company'
        shortcut:
          $ref: '#/components/schemas/response_employee_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
        expression_of_wish:
          $ref: '#/components/schemas/response_expression_of_wish'
        employee_configuration:
          $ref: '#/components/schemas/response_employee_configuration'
        employee_plan_participation:
          $ref: '#/components/schemas/response_employee_plan_participation'
    response_expression_of_wish:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        follow_local_law:
          type: boolean
        beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        contingent_beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_contribution:
      type: object
      properties:
        is_not_editable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        category:
          type:
          - string
          - 'null'
        employee_id:
          type: integer
        period_type:
          type:
          - string
          - 'null'
        gross_qualifying_earnings:
          type:
          - number
          - 'null'
          format: float
        second_gross_qualifying_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        pensionable_earnings:
          type:
          - number
          - 'null'
          format: float
        employee_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        employer_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        employee_percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        state:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        contribute_if_entitled:
          type: boolean
        company_amount:
          type:
          - number
          - 'null'
          format: float
        employee_amount:
          type:
          - number
          - 'null'
          format: float
        employee_sal_sac_amount:
          type:
          - number
          - 'null'
          format: float
        total_employee_amount:
          type:
          - number
          - 'null'
          format: float
        life_cover_amount:
          type:
          - number
          - 'null'
          format: float
        voluntary_amount:
          type:
          - number
          - 'null'
          format: float
        ni_rebate_amount:
          type:
          - number
          - 'null'
          format: float
        total_amount:
          type:
          - number
          - 'null'
          format: float
        currency:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        ends_on:
          type:
          - string
          - 'null'
          format: date
        lower_level:
          type:
          - number
          - 'null'
          format: float
        upper_level:
          type:
          - number
          - 'null'
          format: float
        trigger_level:
          type:
          - number
          - 'null'
          format: float
        pensionable_earning_type:
          type:
          - string
          - 'null'
        contribution_type:
          type: string
        uuid:
          type: string
        company_name:
          type:
          - string
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        contribution_amounts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_contribution_amount'
        employee:
          $ref: '#/components/schemas/response_employee'
        scheme:
          $ref: '#/components/schemas/response_scheme'
    response_employee_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_fund:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        fact_sheet_url:
          type:
          - string
          - 'null'
        fund_provider:
          type:
          - string
          - 'null'
        target_date_fund_group:
          $ref: '#/components/schemas/response_target_date_fund_group'
    response_company:
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        registration_number:
          type:
          - string
          - 'null'
        tax_office_number:
          type:
          - string
          - 'null'
        tax_office_employer_reference:
          type:
          - string
          - 'null'
        legal_structure:
          type:
          - string
          - 'null'
        welcome_letters_reminder_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        pension_regulator_letter_code:
          type:
          - string
          - 'null'
        trading_address1:
          type:
          - string
          - 'null'
        trading_address2:
          type:
          - string
          - 'null'
        trading_address3:
          type:
          - string
          - 'null'
        trading_address_postcode:
          type:
          - string
          - 'null'
        trading_address_country:
          type:
          - string
          - 'null'
        reg_address1:
          type:
          - string
          - 'null'
        reg_address2:
          type:
          - string
          - 'null'
        reg_address3:
          type:
          - string
          - 'null'
        reg_address4:
          type:
          - string
          - 'null'
        reg_address_postcode:
          type:
          - string
          - 'null'
        reg_address_country:
          type:
          - string
          - 'null'
        pensionable_earning_type:
          type: string
        default_percentage:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        state:
          type: string
        employee_can_change_contribution:
          type: boolean
        uuid:
          type: string
        layout_configuration_id:
          type:
          - integer
          - 'null'
        relief_at_source_active:
          type:
          - boolean
          - 'null'
        only_employer_manages_membership:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        tax_relief_basis_type:
          type:
          - string
          - 'null'
        tax_relief_fallback_type:
          type:
          - string
          - 'null'
        direct_debit_optional:
          type: boolean
        skip_contribution_validations:
          type: boolean
        self_certification_started_at:
          type:
          - string
          - 'null'
          format: date-time
        customers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            customers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_customer'
        payments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            payments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_payment'
        employees:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            employees:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_employee'
        enrolments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            enrolments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_enrolment'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_import'
        advisers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            advisers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser'
        mandates:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            mandates:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_mandate'
        ultimate_beneficial_owners:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            ultimate_beneficial_owners:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_ultimate_beneficial_owner'
        benefit_groups:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefit_groups:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit_group'
        payroll_configurations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            payroll_configurations:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_base_payroll_configuration'
        bank_account_details:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_bank_account_detail'
        adviser_companies:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            adviser_companies:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser_company'
        scheme_details:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_scheme_detail'
        envelope:
          $ref: '#/components/schemas/response_envelope'
        company_automation:
          $ref: '#/components/schemas/response_company_automation'
        know_your_customer_data:
          $ref: '#/components/schemas/response_know_your_customer_data'
        scheme_detail:
          $ref: '#/components/schemas/response_scheme_detail'
        ultimate_beneficial_owner_configuration:
          $ref: '#/components/schemas/response_ultimate_beneficial_owner_configuration'
        scheme:
          $ref: '#/components/schemas/response_scheme'
        provider_scheme_migration:
          $ref: '#/components/schemas/response_provider_scheme_migration'
        default_investment_instrument:
          $ref: '#/components/schemas/response_default_investment_instrument'
        economic_zone:
          $ref: '#/components/schemas/response_economic_zone'
    response_bank_account_detail:
      type: object
      properties:
        id:
          type: integer
        account_name:
          type:
          - string
          - 'null'
        bank_name:
          type:
          - string
          - 'null'
        country_code:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        account_number_format:
          type:
          - string
          - 'null'
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_on:
          type:
          - string
          - 'null'
          format: date
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_customer_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_fund_split:
      type: object
      properties:
        id:
          type: integer
        fund_id:
          type: integer
        investment_account_uuid:
          type: string
        percentage:
          type: number
        fund:
          $ref: '#/components/schemas/response_fund'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_mandate:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type:
          - integer
          - 'null'
        state:
          type: string
        selected:
          type:
          - boolean
          - 'null'
        bank_account_number_ending:
          type:
          - string
          - 'null'
        bank_name:
          type:
          - string
          - 'null'
        uuid:
          type: string
        created_at:
          type: string
          format: date-time
        redirect_url:
          type:
          - string
          - 'null'
        next_possible_charge_date:
          type:
          - string
          - 'null'
          format: date
        company:
          $ref: '#/components/schemas/response_company'
    response_scheme_tax_reliefs:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_scheme_tax_relief'
    response_scheme_detail:
      type: object
      properties:
        id:
          type: integer
        regulator_reference:
          type:
          - string
          - 'null'
        starts_on:
          type:
          - string
          - 'null'
          format: date
        state:
          type: string
        uuid:
          type: string
        ae_qualifying:
          type: boolean
        scheme_external_id:
          type:
          - string
          - 'null'
        current_company_tax_relief:
          $ref: '#/components/schemas/response_company_tax_relief'
        company_tax_reliefs:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_tax_relief'
    response_economic_zone:
      type: object
      properties:
        id:
          type: integer
        country:
          type: string
        display_name:
          type: string
        name:
          type: string
        scheme_id:
          type:
          - integer
          - 'null'
        uuid:
          type: string
    response_postponement:
      type: object
      properties:
        is_not_editable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        employee_id:
          type:
          - integer
          - 'null'
        starts_on:
          type:
          - string
          - 'null'
          format: date
        ends_on:
          type:
          - string
          - 'null'
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deferral_on:
          type:
          - string
          - 'null'
          format: date
        cancelled_at:
          type:
          - string
          - 'null'
          format: date
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        employee:
          $ref: '#/components/schemas/response_employee'
        letter:
          $ref: '#/components/schemas/response_letter'
    response_portfolio:
      type: object
      properties:
        id:
          type: integer
        custom:
          type: boolean
        starts_on:
          type: string
          format: date
        ends_on:
          type:
          - string
          - 'null'
          format: date
        money_in:
          type:
          - boolean
          - 'null'
        portfolio_composed_by_a_tdf:
          type:
          - boolean
          - 'null'
        subaccount_uuid:
          type:
[...]
