openapi: 3.2.0
info:
  title: Keystone Investments Performance API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: InvestmentsPerformance
paths:
  /companies/{company_id}/employees/{employee_id}/investments_performance:
    get:
      summary: InvestmentsPerformance/List
      tags:
      - InvestmentsPerformance
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 698
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 343
        schema:
          type: string
      - name: start_date
        in: query
        format: date
        required: false
        example: start_date=2026-03-01
        schema:
          type: string
      - name: end_date
        in: query
        format: date
        required: false
        example: end_date=2026-03-31
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 1
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/698/employees/343/investments_performance?end_date=2026-03-31&start_date=2026-03-01
                - rel: first
                  title: first
                  href: http://api.host.com/companies/698/employees/343/investments_performance?end_date=2026-03-31&start_date=2026-03-01&offset=0&limit=1
                - rel: last
                  title: last
                  href: http://api.host.com/companies/698/employees/343/investments_performance?end_date=2026-03-31&start_date=2026-03-01&offset=0&limit=1
                investments_performance:
                - calculated_on: '2026-03-07'
                  valuation: 110
                  paid_in: 100
                  paid_out: 25
                  investment_growth: 35
                  investment_growth_percentage: 46.67
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  investments_performance:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_investment_performance'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_investment_performance:
      type: object
      properties:
        calculated_on:
          type:
          - string
          - 'null'
          format: date
        valuation:
          type:
          - number
          - 'null'
          format: float
        paid_in:
          type:
          - number
          - 'null'
          format: float
        paid_out:
          type:
          - number
          - 'null'
          format: float
        investment_growth:
          type:
          - number
          - 'null'
          format: float
        investment_growth_percentage:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
