openapi: 3.2.0
info:
  title: Keystone SSIF Imports API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: SSIFImports
paths:
  /companies/{company_id}/ssif_imports/{ssif_import_id}/assign_ssif_headers_mapping:
    post:
      summary: SSIFImports/AssignSSIFHeadersMapping
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1340
        schema:
          type: string
      - name: ssif_import_id
        in: path
        required: true
        example: 2
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_params:
                value:
                  ssif_headers_mapping_id: 23
              invalid_params:
                value:
                  ssif_headers_mapping_id: abc
              authorizers_eroor:
                value:
                  ssif_headers_mapping_id: 24
              import_belongs_to_other_company:
                value:
                  ssif_headers_mapping_id: 25
              not_found:
                value:
                  ssif_headers_mapping_id: 26
              unauthorized:
                value:
                  ssif_headers_mapping_id: 27
            schema:
              type: object
              properties:
                ssif_headers_mapping_id:
                  type: integer
              required:
              - ssif_headers_mapping_id
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 2
                created_at: '2026-08-05T13:04:47.000+01:00'
                updated_at: '2026-08-05T13:04:48.000+01:00'
                file_content_type: text/csv
                file_errors: []
                header_errors: []
                file_file_name: valid_employees_import.csv
                file_file_size: 1259
                file_updated_at: '2026-08-05T13:04:47.000+01:00'
                state: ignition
                ssif_headers_mapping_id: 23
                response_errors: []
                file_url: /__w/api/api/spec/test_files/0/ssif_imports/000/000/002/original/valid_employees_import.csv
                type: text/csv
                metadata: null
                success_row_count: 0
                failure_row_count: 0
                partial_success_row_count: 0
                unchanged_row_count: 0
                errors_count: 0
                failed_row_actions_count: 0
                unrecognized_headers: []
              schema:
                $ref: '#/components/schemas/response_ssif_import'
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                errors:
                - code: 374
                  title: You don't have the neccessary rights to perform this action.
                  detail: You don't have the necessary rights to perform this action.
                  form: null
                  attribute: base
                  error: generic_forbidden
                  meta: {}
                  source:
                    pointer: /base
        '404':
          description: Not found
          content:
            application/json:
              example: ''
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 102005
                  title: Value must be numerical.
                  detail: SSIF headers mapping id should be a numerical value.
                  meta:
                    value: abc
                  source:
                    pointer: /data/attributes/ssif_headers_mapping_id
  /companies/{company_id}/ssif_imports:
    post:
      summary: SSIFImports/Create
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1348
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            example:
              file: '#<Rack::Test::UploadedFile:0x00007ba22a089c18>'
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '201':
          description: Success - Import a file (csv/xml format)
          content:
            application/json:
              example:
                id: 7
                created_at: '2026-08-05T13:04:50.000+01:00'
                updated_at: '2026-08-05T13:04:50.000+01:00'
                file_content_type: text/csv
                file_errors: []
                header_errors: []
                file_file_name: valid.csv
                file_file_size: 792
                file_updated_at: '2026-08-05T13:04:50.000+01:00'
                state: ignition
                ssif_headers_mapping_id: null
                response_errors: []
                file_url: /__w/api/api/spec/test_files/0/ssif_imports/000/000/007/original/valid.csv
                type: text/csv
                metadata: null
                success_row_count: 0
                failure_row_count: 0
                partial_success_row_count: 0
                unchanged_row_count: 0
                errors_count: 0
                failed_row_actions_count: 0
                unrecognized_headers: []
              schema:
                $ref: '#/components/schemas/response_ssif_import'
        '422':
          description: Failing when parameters are invalid.
    get:
      summary: SSIFImports/List
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1366
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    limit: 50
                    offset: 0
                    total: 0
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1365/ssif_imports
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1365/ssif_imports?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1365/ssif_imports?offset=0&limit=50
                    data: []
                success_with_client_credentials_token:
                  value:
                    limit: 50
                    offset: 0
                    total: 0
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1366/ssif_imports
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1366/ssif_imports?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1366/ssif_imports?offset=0&limit=50
                    data: []
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  data:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_ssif_import'
        '401':
          description: Unauthorized
  /companies/{company_id}/ssif_imports/{ssif_import_id}/file_headers:
    get:
      summary: SSIFImports/FileHeaders
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1350
        schema:
          type: string
      - name: ssif_import_id
        in: path
        required: true
        example: 8
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 8
                file_headers:
                - BirthDate
                - Surname
                - EmployerID
                - PostalCode
                - Forename1
                - EmploymentStartDate
                - BenefitGroupID
                - PlatformID
                - Gender
                - EmailAddress
                - Title
                - NationalIDNumber
                - Address1
                - Address2
                - City
                - County
                - EmployeeID
                - ExitDate
                - ExitReasonCode
                - EmployerContributionAmount
                - ContributionDueDate
                - AdditionalVoluntaryContributionPercent
                - PayrollName
                - EmployeeContributionAmount
                - EmployerContributionPercent
                - EmployeeContributionPercent
                - AdditionalVoluntaryContributionAmount
                - Earnings1
                - Earnings2
                - Forename2
                - Country
                - SecondaryEmailAddress
                - CivilStatus
                - EventCode
                - EventDate
                - EffectiveDate
                - SchemeID
                - EmploymentStatus
                - PartTimePercentage
                - EmploymentCategory
                - SalarySacrifice
                - RiskSalary1
                - RiskSalary2
                - EmployerContributionAmountSingle
                - EmployeeContributionAmountSingle
                - AdditionalVoluntaryContributionAmountSingle
                - AnnualEarnings1
                - AnnualEarnings2
                platform_headers:
                - attribute_name: papdis_version
                  humanized_name: PAPDISVersion
                  group: File details
                  order: 1
                  required: true
                - attribute_name: platform_id
                  humanized_name: PensionProviderId
                  group: File details
                  order: 2
                  required: true
                - attribute_name: title
                  humanized_name: Title
                  group: Personal details
                  order: 1
                  required: true
                - attribute_name: forename
                  humanized_name: Forename1
                  group: Personal details
                  order: 2
                  required: true
                - attribute_name: middle_name
                  humanized_name: Forename2
                  group: Personal details
                  order: 3
                  required: false
                - attribute_name: surname
                  humanized_name: Surname
                  group: Personal details
                  order: 4
                  required: true
                - attribute_name: date_of_birth
                  humanized_name: BirthDate
                  group: Personal details
                  order: 5
                  required: true
                - attribute_name: gender
                  humanized_name: Gender
                  group: Personal details
                  order: 6
                  required: true
                - attribute_name: external_id
                  humanized_name: EmployeeId
                  group: Employment details
                  order: 1
                  required: true
                - attribute_name: employer_id
                  humanized_name: EmployerId
                  group: Employment details
                  order: 2
                  required: true
                - attribute_name: starts_on
                  humanized_name: EmploymentStartDate
                  group: Employment details
                  order: 3
                  required: true
                - attribute_name: ends_on
                  humanized_name: ExitDate
                  group: Employment details
                  order: 4
                  required: false
                - attribute_name: exit_reason
                  humanized_name: ExitReasonCode
                  group: Employment details
                  order: 5
                  required: false
                - attribute_name: event_code
                  humanized_name: EventCode
                  group: Employment details
                  order: 6
                  required: true
                - attribute_name: event_date
                  humanized_name: EventDate
                  group: Employment details
                  order: 7
                  required: false
                - attribute_name: group_name
                  humanized_name: Group
                  group: Employment details
                  order: 8
                  required: true
                - attribute_name: sub_group
                  humanized_name: SubGroup
                  group: Employment details
                  order: 9
                  required: false
                - attribute_name: assessment_code
                  humanized_name: AssessmentCode
                  group: Employment details
                  order: 10
                  required: true
                - attribute_name: deferral_on
                  humanized_name: DeferralDate
                  group: Employment details
                  order: 11
                  required: false
                - attribute_name: aeo_opt_out_date
                  humanized_name: AEOptOutDate
                  group: Employment details
                  order: 12
                  required: false
                - attribute_name: aeo_opt_out_reference
                  humanized_name: AEOptOutReference
                  group: Employment details
                  order: 13
                  required: false
                - attribute_name: communications_issued_date
                  humanized_name: EnrolmentCommunicationsIssuedDate
                  group: Employment details
                  order: 14
                  required: false
                - attribute_name: national_insurance_number
                  humanized_name: NationalInsuranceNumber
                  group: Identification details
                  order: 1
                  required: true
                - attribute_name: line1
                  humanized_name: Address1
                  group: Residential address
                  order: 1
                  required: true
                - attribute_name: line2
                  humanized_name: Address2
                  group: Residential address
                  order: 2
                  required: true
                - attribute_name: line4
                  humanized_name: Address4
                  group: Residential address
                  order: 3
                  required: true
                - attribute_name: city
                  humanized_name: Address3
                  group: Residential address
                  order: 4
                  required: true
                - attribute_name: postcode
                  humanized_name: Postcode
                  group: Residential address
                  order: 5
                  required: true
                - attribute_name: country
                  humanized_name: Country
                  group: Residential address
                  order: 6
                  required: false
                - attribute_name: email
                  humanized_name: EmailAddress
                  group: Contact details
                  order: 1
                  required: true
                - attribute_name: secondary_email
                  humanized_name: SecondaryEmailAddress
                  group: Contact details
                  order: 2
                  required: false
                - attribute_name: contribution_deduction_date
                  humanized_name: ContributionDeductionDate
                  group: Contribution details
                  order: 1
                  required: true
                - attribute_name: contribution_starts_on
                  humanized_name: PayPeriodStartDate
                  group: Contribution details
                  order: 2
                  required: true
                - attribute_name: contribution_ends_on
                  humanized_name: PayPeriodEndDate
                  group: Contribution details
                  order: 3
                  required: true
                - attribute_name: period_type
                  humanized_name: FrequencyCode
                  group: Contribution details
                  order: 4
                  required: true
                - attribute_name: pensionable_earnings
                  humanized_name: PensionableEarningsAmount
                  group: Contribution details
                  order: 5
                  required: true
                - attribute_name: company_amount
                  humanized_name: EmployerContributionsAmount
                  group: Contribution details
                  order: 6
                  required: true
                - attribute_name: employee_amount
                  humanized_name: EmployeeContributionsAmount
                  group: Contribution details
                  order: 7
                  required: true
                - attribute_name: company_percentage
                  humanized_name: EmployerContributionsPercent
                  group: Contribution details
                  order: 8
                  required: true
                - attribute_name: employee_percentage
                  humanized_name: EmployeeContributionsPercent
                  group: Contribution details
                  order: 9
                  required: true
                - attribute_name: voluntary_amount
                  humanized_name: AdditionalVoluntaryContributionsAmount
                  group: Contribution details
                  order: 10
                  required: false
                - attribute_name: tax_period
                  humanized_name: TaxPeriod
                  group: Contribution details
                  order: 11
                  required: true
                - attribute_name: additional_voluntary_contribution_percent
                  humanized_name: AdditionalVoluntaryContributionsPercent
                  group: Contribution details
                  order: 12
                  required: false
                - attribute_name: salary_sacrifice_signed
                  humanized_name: SalarySacrificeIndicator
                  group: Salary sacrifice details
                  order: 1
                  required: true
              schema:
                $ref: '#/components/schemas/response_ssif_import_file_headers'
        '403':
          description: Forbidden
        '404':
          description: Failing when ssif import does not exist
  /companies/{company_id}/ssif_imports/template:
    get:
      summary: SSIFImports/Template
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1356
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/csv:
              example: 'PAPDISVersion,PensionProviderId,EmployerId,Group,PayPeriodStartDate,PayPeriodEndDate,ContributionDeductionDate,FrequencyCode,TaxPeriod,Title,Forename1,Surname,EmployeeId,BirthDate,Gender,NationalInsuranceNumber,Address1,Address2,Address3,Address4,Postcode,EmailAddress,EmploymentStartDate,AssessmentCode,EventCode,PensionableEarningsAmount,SalarySacrificeIndicator

                '
  /companies/{company_id}/ssif_imports/{ssif_import_id}:
    get:
      summary: SSIFImports/Get
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1363
        schema:
          type: string
      - name: ssif_import_id
        in: path
        required: true
        example: 14
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    id: 11
                    created_at: '2026-08-05T13:04:53.000+01:00'
                    updated_at: '2026-08-05T13:04:53.000+01:00'
                    file_content_type: text/csv
                    file_errors: []
                    header_errors: []
                    file_file_name: valid_employees_import.csv
                    file_file_size: 1259
                    file_updated_at: '2026-08-05T13:04:53.000+01:00'
                    state: ignition
                    ssif_headers_mapping_id: null
                    response_errors: []
                    file_url: /__w/api/api/spec/test_files/0/ssif_imports/000/000/011/original/valid_employees_import.csv
                    type: text/csv
                    metadata: null
                    success_row_count: 0
                    failure_row_count: 0
                    partial_success_row_count: 0
                    unchanged_row_count: 0
                    errors_count: 0
                    failed_row_actions_count: 0
                    unrecognized_headers: []
                success_with_client_credentials_token:
                  value:
                    id: 14
                    created_at: '2026-08-05T13:04:54.000+01:00'
                    updated_at: '2026-08-05T13:04:54.000+01:00'
                    file_content_type: text/csv
                    file_errors: []
                    header_errors: []
                    file_file_name: valid_employees_import.csv
                    file_file_size: 1259
                    file_updated_at: '2026-08-05T13:04:54.000+01:00'
                    state: ignition
                    ssif_headers_mapping_id: null
                    response_errors: []
                    file_url: /__w/api/api/spec/test_files/0/ssif_imports/000/000/014/original/valid_employees_import.csv
                    type: text/csv
                    metadata: null
                    success_row_count: 0
                    failure_row_count: 0
                    partial_success_row_count: 0
                    unchanged_row_count: 0
                    errors_count: 0
                    failed_row_actions_count: 0
                    unrecognized_headers: []
              schema:
                $ref: '#/components/schemas/response_ssif_import'
        '401':
          description: Unauthorized
          content:
            text/html:
              examples:
                unauthorized_with_client_credentials_token:
                  value: ''
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    errors:
                    - code: 374
                      title: You don't have the neccessary rights to perform this action.
                      detail: You don't have the necessary rights to perform this action.
                      form: null
                      attribute: base
                      error: generic_forbidden
                      meta: {}
                      source:
                        pointer: /base
        '404':
          description: Failing when ssif import does not exist
          content:
            application/json:
              examples:
                ssif_import_belongs_to_another_company:
                  value: ''
                ssif_import_does_not_exist:
                  value: ''
  /companies/{company_id}/ssif_imports/{ssif_import_id}/ssif_import_missing_employees:
    get:
      summary: SSIFImports/SSIFImportMissingEmployees/List
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1368
        schema:
          type: string
      - name: ssif_import_id
        in: path
        required: true
        example: 16
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    limit: 50
                    offset: 0
                    total: 1
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1368/ssif_imports/16/ssif_import_missing_employees
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1368/ssif_imports/16/ssif_import_missing_employees?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1368/ssif_imports/16/ssif_import_missing_employees?offset=0&limit=50
                    employees:
                    - updatable: true
                      id: 640
                      email: employee_736@example.com
                      forename: Sara
                      surname: Chavez
                      date_of_birth: '2001-08-05'
                      national_insurance_number: null
                      gender: Male
                      telephone: null
                      identity_person_id: null
                      reset_password_sent_at: null
                      remember_created_at: null
                      last_sign_in_at: null
                      slug: ZXUz1CR
                      created_at: '2026-08-05T13:04:57.000+01:00'
                      updated_at: '2026-08-05T13:04:57.000+01:00'
                      confirmation_token: null
                      gauth_enabled: false
                      gauth_tmp: null
                      title: Lady
                      authentication_token: null
                      group_id: null
                      line2: null
                      city: Pasadena
                      region: null
                      country: United Kingdom of Great Britain and Northern Ireland
                      postcode: 47561-6075
                      line1: 91056 East Street
                      works_in_uk: true
                      starts_on: '2016-08-05'
                      authentication_token_generated_at: null
                      company_percentage: null
                      company_percentage_matched: 0
                      company_match: false
                      percentage: null
                      avc_percentage: null
                      total_employee_percentage: 0
                      total_contribution_percentage: 0
                      contribute_if_entitled: true
                      enforce_password: true
                      ends_on: null
                      exit_reason: null
                      onboarded_at: null
                      opt_out_on: null
                      opt_state: ignition
                      opt_in_on: null
                      opt_out_window_starts_on: null
                      opt_out_window_ends_on: null
                      subject_to_money_purchase_annual_allowance: null
                      money_purchase_annual_allowance_effective_on: null
                      active_special_cases: []
                      company_id: 1368
                      automatically_enrolled: false
                      contractually_enrolled: false
                      external_id: null
                      customer_id: null
                      referral_clicks: 0
                      retirement_age: 65
                      target_retirement_age: null
                      retirement_date: '2066-08-05'
                      target_retirement_date: null
                      secondary_email: null
                      middle_name: null
                      civil_status: null
                      country_code: GB
                      benefit_group_id: null
                      online_login_disabled: false
                      line3: null
                      uuid: 5adb93cb-6db7-40da-b116-fd179e27585e
                      eligible_for_modeller_projection: false
                      can_manage_contribution_rates: true
                      active_payroll_configuration: null
                      employment_type: null
                      tax_residency_status_name: null
                      salary_sacrifice_signed: false
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/1368
                      banned_params: []
                      intercom_user_id: emp640
                      intercom_user_id_hash: f6f240d5307e02251ccddfdb0cbef7d591ee3f189ddd950ee1dd145eb09125f0
                      scheme_external_id: PRODUCT-53562d53
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  employees:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_missing_employee'
        '401':
          description: Unauthorized
          content:
            text/plain:
              examples:
                header_unauthorized:
                  value: 'HTTP Token: Access denied.

                    '
        '404':
          description: Not Found
        '422':
          description: Invalid parameters
  /companies/{company_id}/ssif_imports/{ssif_import_id}/ssif_import_results:
    get:
      summary: SSIFImports/SSIFImportResults/List
      tags:
      - SSIFImports
      security:
      - oAuth2:
        - user
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1378
        schema:
          type: string
      - name: ssif_import_id
        in: path
        required: true
        example: 25
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    limit: 50
                    offset: 0
                    total: 1
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1372/ssif_imports/20/ssif_import_results
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1372/ssif_imports/20/ssif_import_results?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1372/ssif_imports/20/ssif_import_results?offset=0&limit=50
                    data:
                    - id: 1
                      row_number: null
                      ssif_import_id: 20
                      result: null
                      data_state: valid
                      cached_external_id: cached_external_id
                      cached_name: cached_name
                      cached_national_insurance_number: null
                      cached_scheme_external_id: null
                      created_at: '2026-08-05T13:04:59.000+01:00'
                      updated_at: '2026-08-05T13:04:59.000+01:00'
                      operation: create_employee
                      ssif_import_row_actions:
                      - id: 1
                        name: create_employee
                        result: success
                        resource_id: null
                        resource_type: null
                        created_at: '2026-08-05T13:04:59.000+01:00'
                        updated_at: '2026-08-05T13:04:59.000+01:00'
                      ssif_import_issues:
                      - id: 1
                        entries:
                        - code: 8821
                          meta:
                            regexp: '[A-Za-z0-9.,()\/=!"%&*;<>\s''+:?\-_]+'
                            column_name: City
                            import_type: create_employee
                          title: City format is wrong.
                          detail: 'Enter only letters, numbers or these symbols: space, hyphen or forward slash.'
                          source:
                            pointer: /data/attributes/city
                        severity: error
                        type: validation
                        ssif_import_row_action_id: 1
                        created_at: '2026-08-05T13:04:59.300+01:00'
                        updated_at: '2026-08-05T13:04:59.300+01:00'
                success_with_client_credentials_token:
                  value:
                    limit: 50
                    offset: 0
                    total: 1
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1378/ssif_imports/25/ssif_import_results
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1378/ssif_imports/25/ssif_import_results?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1378/ssif_imports/25/ssif_import_results?offset=0&limit=50
                    data:
                    - id: 6
                      row_number: null
                      ssif_import_id: 25
                      result: null
                      data_state: valid
                      cached_external_id: cached_external_id
                      cached_name: cached_name
                      cached_national_insurance_number: null
                      cached_scheme_external_id: null
                      created_at: '2026-08-05T13:05:01.000+01:00'
                      updated_at: '2026-08-05T13:05:01.000+01:00'
                      operation: create_employee
                      ssif_import_row_actions:
                      - id: 6
                        name: create_employee
                        result: success
                        resource_id: null
                        resource_type: null
                        created_at: '2026-08-05T13:05:01.000+01:00'
                        updated_at: '2026-08-05T13:05:01.000+01:00'
                      ssif_import_issues:
                      - id: 6
                        entries:
                        - code: 8821
                          meta:
                            regexp: '[A-Za-z0-9.,()\/=!"%&*;<>\s''+:?\-_]+'
                            column_name: City
                            import_type: create_employee
                          title: City format is wrong.
                          detail: 'Enter only letters, numbers or these symbols: space, hyphen or forward slash.'
                          source:
                            pointer: /data/attributes/city
                        severity: error
                        type: validation
                        ssif_import_row_action_id: 6
                        created_at: '2026-08-05T13:05:01.207+01:00'
                        updated_at: '2026-08-05T13:05:01.207+01:00'
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  data:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_ssif_import_result'
        '401':
          description: Unauthorized
          content:
            text/plain:
              examples:
                header_unauthorized:
                  value: 'HTTP Token: Access denied.

                    '
            text/html:
              examples:
                unauthorized_with_client_credentials_token:
                  value: ''
        '403':
          description: Failing when ssif import results belongs to another company
          content:
            application/json:
              examples:
                company_unauthorized:
                  value:
                    errors:
                    - code: 374
                      title: You don't have the neccessary rights to perform this action.
                      detail: You don't have the necessary rights to perform this action.
                      form: null
                      attribute: base
                      error: generic_forbidden
                      meta: {}
                      source:
                        pointer: /base
        '404':
          description: Not Found
        '422':
          description: Invalid parameters
components:
  schemas:
    response_band:
      type: object
      properties:
        id:
          type: integer
        employee_minimum_percentage:
          type: number
          format: float
        employee_maximum_percentage:
          type:
          - number
          - 'null'
          format: float
        employer_percentage:
          type: number
          format: float
        starts_on:
          type: string
          format: date
        ends_on:
          type: string
          format: date
        range_min:
          type:
          - integer
          - 'null'
        range_max:
          type:
          - integer
          - 'null'
        default:
          type: boolean
    response_scheme_contribution_limit:
      type: object
      properties:
        minimum_one_off_contribution_amount:
          type: number
          format: float
        minimum_one_off_contribution_amount_currency:
          type: string
        maximum_one_off_contribution_amount:
          type: number
          format: float
        maximum_one_off_contribution_amount_currency:
          type: string
        minimum_recurring_contribution_amount:
          type: number
          format: float
        minimum_recurring_contribution_amount_currency:
          type: string
    response_adviser:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        signup_start:
          type:
          - string
          - 'null'
          format: text
        signup_finish:
          type:
          - string
          - 'null'
          format: text
        agent_number:
          type:
          - string
          - 'null'
        broker_channel:
          type:
          - string
          - 'null'
        broker_role:
          type:
          - string
          - 'null'
        abilities:
          type:
          - array
          - 'null'
          items: {}
        companies:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            companies:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser_import'
        company_tax_reliefs:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_tax_relief'
        shortcut:
          $ref: '#/components/schemas/response_adviser_shortcut'
    response_salary:
      type: object
      properties:
        annual_earnings_1:
          type:
          - number
          - 'null'
          format: float
        annual_earnings_2:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        effective_on:
          type: string
          format: date
        employee_id:
          type: integer
        id:
          type: integer
        updated_at:
          type: string
          format: date-time
        employee:
          $ref: '#/components/schemas/response_employee'
    response_company_automation:
      type: object
      properties:
        id:
          type: integer
        letter:
          type: boolean
        company_id:
          type: integer
        postponement_period:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_ssif_import:
      type: object
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        file_content_type:
          type: string
        file_errors:
          type:
          - array
          - 'null'
          items: {}
        header_errors:
          type:
          - array
          - 'null'
          items: {}
        file_file_name:
          type: string
        file_file_size:
          type: integer
        file_updated_at:
          type: string
          format: date-time
        state:
          type: string
        ssif_headers_mapping_id:
          type:
          - integer
          - 'null'
        response_errors:
          type:
          - array
          - 'null'
          items: {}
        file_url:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        success_row_count:
          type:
          - integer
          - 'null'
        failure_row_count:
          type:
          - integer
          - 'null'
        partial_success_row_count:
          type:
          - integer
          - 'null'
        unchanged_row_count:
          type:
          - integer
          - 'null'
        errors_count:
          type:
          - integer
          - 'null'
        failed_row_actions_count:
          type:
          - integer
          - 'null'
        unrecognized_headers:
          type:
          - array
          - 'null'
          items: {}
        accounts_with_errors_count:
          type:
          - integer
          - 'null'
        missing_accounts_count:
          type:
          - integer
          - 'null'
        accounts_created_count:
          type:
          - integer
          - 'null'
        accounts_updated_count:
          type:
          - integer
          - 'null'
        contributions_created_or_updated_count:
          type:
          - integer
          - 'null'
        total_rows_count:
          type:
          - integer
          - 'null'
    response_ssif_import_row_action:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        result:
          type:
          - string
          - 'null'
        resource_id:
          type:
          - integer
          - 'null'
        resource_type:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_missing_employee:
      type: object
      properties:
        updatable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        national_insurance_number:
          type:
          - string
          - 'null'
        gender:
          type: string
        telephone:
          type:
          - string
          - 'null'
        identity_person_id:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        confirmation_token:
          type:
          - string
          - 'null'
        gauth_enabled:
          type:
          - boolean
          - 'null'
        gauth_tmp:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        group_id:
          type:
          - integer
          - 'null'
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        company_percentage_matched:
          type:
          - number
          - 'null'
          format: float
        company_match:
          type: boolean
        percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        total_contribution_percentage:
          type:
          - number
          - 'null'
          format: float
        contribute_if_entitled:
          type: boolean
        enforce_password:
          type:
          - boolean
          - 'null'
        ends_on:
          type:
          - string
          - 'null'
          format: date
        exit_reason:
          type:
          - string
          - 'null'
        onboarded_at:
          type:
          - string
          - 'null'
          format: date-time
        opt_out_on:
          type:
          - string
          - 'null'
          format: date
        opt_state:
          type: string
        opt_in_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_starts_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_ends_on:
          type:
          - string
          - 'null'
          format: date
        subject_to_money_purchase_annual_allowance:
          type:
          - boolean
          - 'null'
        money_purchase_annual_allowance_effective_on:
          type:
          - string
          - 'null'
          format: date
        company_id:
          type: integer
        automatically_enrolled:
          type: boolean
        contractually_enrolled:
          type:
          - boolean
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        referral_clicks:
          type:
          - integer
          - 'null'
        retirement_age:
          type:
          - integer
          - 'null'
        target_retirement_age:
          type:
          - integer
          - 'null'
        retirement_date:
          type: string
          format: date
        target_retirement_date:
          type:
          - string
          - 'null'
          format: date
        secondary_email:
          type:
          - string
          - 'null'
        middle_name:
          type:
          - string
          - 'null'
        civil_status:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        online_login_disabled:
          type: boolean
        line3:
          type:
          - string
          - 'null'
        uuid:
          type: string
        eligible_for_modeller_projection:
          type:
          - boolean
          - 'null'
        can_manage_contribution_rates:
          type:
          - boolean
          - 'null'
        active_payroll_configuration:
          type:
          - object
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        employment_type:
          type:
          - string
          - 'null'
        tax_residency_status_name:
          type:
          - string
          - 'null'
        salary_sacrifice_signed:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        banned_params:
          type:
          - array
          - 'null'
          items:
            type: string
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        is_not_editable:
          type:
          - boolean
          - 'null'
        scheme_external_id:
          type:
          - string
          - 'null'
        active_special_cases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_employee_special_case'
        contributions:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            contributions:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_contribution'
        letters:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            letters:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_letter'
        postponements:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            postponements:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_postponement'
        fund_splits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            fund_splits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_fund_split'
        valuations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            valuations:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_valuation'
        portfolios:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            portfolios:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_portfolio'
        benefits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit'
        employment_statuses:
          $ref: '#/components/schemas/response_employment_statuses'
        salaries:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            salaries:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_salary'
        customer:
          $ref: '#/components/schemas/response_customer'
        group:
          $ref: '#/components/schemas/response_group'
        company:
          $ref: '#/components/schemas/response_company'
        shortcut:
          $ref: '#/components/schemas/response_employee_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
        expression_of_wish:
          $ref: '#/components/schemas/response_expression_of_wish'
        employee_configuration:
          $ref: '#/components/schemas/response_employee_configuration'
        employee_plan_participation:
          $ref: '#/components/schemas/response_employee_plan_participation'
    response_know_your_customer_data:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        reference:
          type:
          - string
          - 'null'
    response_ultimate_beneficial_owner_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        exempt:
          type: boolean
        exemption_reason:
          type:
          - string
          - 'null'
        natural_person_ubo:
          type: boolean
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_adviser_company:
      type: object
      properties:
        id:
          type: integer
        adviser_id:
          type: integer
        company_id:
          type: integer
        preferred_contact_user_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_customer:
      type: object
      properties:
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        gauth_enabled:
          type: boolean
        gauth_tmp:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        building_name:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        building_number:
          type:
          - string
          - 'null'
        telephone:
          type:
          - string
          - 'null'
        alternative_telephone:
          type:
          - string
          - 'null'
        referee_id:
          type:
          - integer
          - 'null'
        referee_type:
          type:
          - string
          - 'null'
        referral_state:
          type: string
        referral_clicks:
          type:
          - integer
          - 'null'
        referral_reward_name:
          type:
          - string
          - 'null'
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        gender:
          type:
          - string
          - 'null'
        role:
          type:
          - string
          - 'null'
        middlename:
          type:
          - string
          - 'null'
        envelope_state:
          type: string
        enforce_password:
          type:
          - boolean
          - 'null'
        company_id:
          type:
          - integer
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        uuid:
          type: string
        preferred_locale:
          type:
          - string
          - 'null'
        smart_analytics_access_permitted:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        company:
          $ref: '#/components/schemas/response_company'
        employee:
          $ref: '#/components/schemas/response_employee'
        shortcut:
          $ref: '#/components/schemas/response_customer_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
    response_payment:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
        amount:
          type:
          - number
          - 'null'
          format: float
        description:
          type:
          - string
          - 'null'
        invoice_name:
          type:
          - string
          - 'null'
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
        charge_on:
          type:
          - string
          - 'null'
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        invoice_url:
          type:
          - string
          - 'null'
        invoice_details_url:
          type:
          - string
          - 'null'
        invoice_details_file_name:
          type:
          - string
          - 'null'
        source_of_funds:
          type:
          - string
          - 'null'
    response_employee_plan_participation:
      type: object
      properties:
        id:
          type: integer
        in_waiting_period:
          type:
          - boolean
          - 'null'
        next_state:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
        state:
          type: string
    response_letter:
      type: object
      properties:
        id:
          type: integer
        subject:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        employee_id:
          type:
          - integer
          - 'null'
        read:
          type:
          - boolean
          - 'null'
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        created_by_id:
          type:
          - integer
          - 'null'
        created_by_type:
          type:
          - string
          - 'null'
        send_employee_temporary_password_notification:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_base_payroll_configuration:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        description:
          type:
          - string
          - 'null'
        frequency:
          type: string
        name:
          type: string
        salary_rate:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        uuid:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    response_company_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_beneficiary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        name:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: string
        postcode:
          type:
          - string
          - 'null'
        relation:
          type: string
        percentage:
          type: number
          format: float
        born_on:
          type: string
          format: date
        type:
          type: string
    response_adviser_import:
      type: object
      properties:
        id:
          type: integer
        status_code:
          type:
          - integer
          - 'null'
        state:
          type: string
        response_errors:
          type:
          - array
          - 'null'
          items: {}
        file_url:
          type:
          - string
          - 'null'
        file_file_name:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        type:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        success_row_count:
          type:
          - integer
          - 'null'
        fail_row_count:
          type:
          - integer
          - 'null'
        adviser_id:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        adviser:
          $ref: '#/components/schemas/response_adviser'
    response_provider_scheme_migration:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
    response_valuation:
      type: object
      properties:
        id:
          type: integer
        amount:
          type:
          - number
          - 'null'
          format: float
        calculated_on:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    response_benefit_check_result:
      type: object
      properties:
        id:
          type: integer
        benefit_id:
          type: integer
        state:
          type: string
        redirect_url:
          type:
          - string
          - 'null'
        has_redirect_url:
          type:
          - boolean
          - 'null'
        returned_back_at:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
          format: text
        automated_checks_available:
          type: boolean
    response_benefit_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        employee_contribution_holiday_permitted:
          type: boolean
        company_contribution_holiday_permitted:
          type: boolean
        band_range_type:
          type:
          - string
          - 'null'
        employer_earnings_type:
          type: string
        employee_earnings_type:
          type: string
        employer_salary_cap:
          type:
          - number
          - 'null'
          format: float
        employee_salary_cap:
          type:
          - number
          - 'null'
          format: float
        voluntary_enrolment:
          type: boolean
        profit_share_allowed:
          type: boolean
        contribution_match_type:
          type:
          - string
          - 'null'
        stop_contributions_permitted:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        enrolment_type:
          type:
          - string
          - 'null'
        bands:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_band'
    response_scheme_tax_relief:
      type: object
      properties:
        id:
          type: integer
        basis_type:
          type: string
    response_scheme_bank_detail:
      type: object
      properties:
        account_number:
          type:
          - string
          - 'null'
        bank_name:
          type: string
        swift_code:
          type: string
        in_favor_of:
          type: string
        currency:
          type:
          - string
          - 'null'
        exchange_rate:
          type:
          - number
          - 'null'
          format: float
    response_adviser_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_employee_configuration:
      type: object
      properties:
        benefits_out_suspended:
          type: boolean
        disabled_switching:
          type:
          - boolean
          - 'null'
        enable_auto_increase_percentage:
          type: boolean
        gone_away:
          type: boolean
        id:
          type: integer
        investments_locked:
          type: boolean
        valuation_under_review:
          type:
          - boolean
          - 'null'
        preferred_currency:
          type:
          - string
          - 'null'
        preferred_locale:
          type:
          - string
          - 'null'
        blocked_rejoin:
          type: boolean
    response_employee:
      type: object
      properties:
        updatable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        national_insurance_number:
          type:
          - string
          - 'null'
        gender:
          type: string
        telephone:
          type:
          - string
          - 'null'
        identity_person_id:
          type:
          - string
          - 'null'
        reset_password_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        remember_created_at:
          type:
          - string
          - 'null'
          format: date-time
        last_sign_in_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        confirmation_token:
          type:
          - string
          - 'null'
        gauth_enabled:
          type:
          - boolean
          - 'null'
        gauth_tmp:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        authentication_token:
          type:
          - string
          - 'null'
        group_id:
          type:
          - integer
          - 'null'
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        authentication_token_generated_at:
          type:
          - string
          - 'null'
          format: date-time
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        company_percentage_matched:
          type:
          - number
          - 'null'
          format: float
        company_match:
          type: boolean
        percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        total_contribution_percentage:
          type:
          - number
          - 'null'
          format: float
        contribute_if_entitled:
          type: boolean
        enforce_password:
          type:
          - boolean
          - 'null'
        ends_on:
          type:
          - string
          - 'null'
          format: date
        exit_reason:
          type:
          - string
          - 'null'
        onboarded_at:
          type:
          - string
          - 'null'
          format: date-time
        opt_out_on:
          type:
          - string
          - 'null'
          format: date
        opt_state:
          type: string
        opt_in_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_starts_on:
          type:
          - string
          - 'null'
          format: date
        opt_out_window_ends_on:
          type:
          - string
          - 'null'
          format: date
        subject_to_money_purchase_annual_allowance:
          type:
          - boolean
          - 'null'
        money_purchase_annual_allowance_effective_on:
          type:
          - string
          - 'null'
          format: date
        company_id:
          type: integer
        automatically_enrolled:
          type: boolean
        contractually_enrolled:
          type:
          - boolean
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        referral_clicks:
          type:
          - integer
          - 'null'
        retirement_age:
          type:
          - integer
          - 'null'
        target_retirement_age:
          type:
          - integer
          - 'null'
        retirement_date:
          type: string
          format: date
        target_retirement_date:
          type:
          - string
          - 'null'
          format: date
        secondary_email:
          type:
          - string
          - 'null'
        middle_name:
          type:
          - string
          - 'null'
        civil_status:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        online_login_disabled:
          type: boolean
        line3:
          type:
          - string
          - 'null'
        uuid:
          type: string
        eligible_for_modeller_projection:
          type:
          - boolean
          - 'null'
        can_manage_contribution_rates:
          type:
          - boolean
          - 'null'
        active_payroll_configuration:
          type:
          - object
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        employment_type:
          type:
          - string
          - 'null'
        tax_residency_status_name:
          type:
          - string
          - 'null'
        salary_sacrifice_signed:
          type:
          - boolean
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        banned_params:
          type:
          - array
          - 'null'
          items:
            type: string
        intercom_user_id:
          type:
          - string
          - 'null'
        intercom_user_id_hash:
          type:
          - string
          - 'null'
        is_not_editable:
          type:
          - boolean
          - 'null'
        active_special_cases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_employee_special_case'
        contributions:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            contributions:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_contribution'
        letters:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            letters:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_letter'
        postponements:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            postponements:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_postponement'
        fund_splits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            fund_splits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_fund_split'
        valuations:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            valuations:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_valuation'
        portfolios:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            portfolios:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_portfolio'
        benefits:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            benefits:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_benefit'
        employment_statuses:
          $ref: '#/components/schemas/response_employment_statuses'
        salaries:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            salaries:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_salary'
        customer:
          $ref: '#/components/schemas/response_customer'
        group:
          $ref: '#/components/schemas/response_group'
        company:
          $ref: '#/components/schemas/response_company'
        shortcut:
          $ref: '#/components/schemas/response_employee_shortcut'
        marketing_preference:
          $ref: '#/components/schemas/response_marketing_preference'
        expression_of_wish:
          $ref: '#/components/schemas/response_expression_of_wish'
        employee_configuration:
          $ref: '#/components/schemas/response_employee_configuration'
        employee_plan_participation:
          $ref: '#/components/schemas/response_employee_plan_participation'
    response_expression_of_wish:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        follow_local_law:
          type: boolean
        beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        contingent_beneficiaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_beneficiary'
        employee:
          $ref: '#/components/schemas/response_employee'
    response_contribution:
      type: object
      properties:
        is_not_editable:
          type:
          - boolean
          - 'null'
        id:
          type: integer
        category:
          type:
          - string
          - 'null'
        employee_id:
          type: integer
        period_type:
          type:
          - string
          - 'null'
        gross_qualifying_earnings:
          type:
          - number
          - 'null'
          format: float
        second_gross_qualifying_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        pensionable_earnings:
          type:
          - number
          - 'null'
          format: float
        employee_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        employer_pensionable_earnings_amount:
          type:
          - number
          - 'null'
          format: float
        company_percentage:
          type:
          - number
          - 'null'
          format: float
        employee_percentage:
          type:
          - number
          - 'null'
          format: float
        avc_percentage:
          type:
          - number
          - 'null'
          format: float
        state:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        contribute_if_entitled:
          type: boolean
        company_amount:
          type:
          - number
          - 'null'
          format: float
        employee_amount:
          type:
          - number
          - 'null'
          format: float
        employee_sal_sac_amount:
          type:
          - number
          - 'null'
          format: float
        total_employee_amount:
          type:
          - number
          - 'null'
          format: float
        life_cover_amount:
          type:
          - number
          - 'null'
          format: float
        voluntary_amount:
          type:
          - number
          - 'null'
          format: float
        ni_rebate_amount:
          type:
          - number
          - 'null'
          format: float
        total_amount:
          type:
          - number
          - 'null'
          format: float
        currency:
          type:
          - string
          - 'null'
        works_in_uk:
          type: boolean
        starts_on:
          type:
          - string
          - 'null'
          format: date
        ends_on:
          type:
          - string
          - 'null'
          format: date
        lower_level:
          type:
          - number
          - 'null'
          format: float
        upper_level:
          type:
          - number
          - 'null'
          format: float
        trigger_level:
          type:
          - number
          - 'null'
          format: float
        pensionable_earning_type:
          type:
          - string
          - 'null'
        contribution_type:
          type: string
        uuid:
          type: string
        company_name:
          type:
          - string
          - 'null'
        tax_relief_type:
          type:
          - string
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        contribution_amounts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/response_contribution_amount'
        employee:
          $ref: '#/components/schemas/response_employee'
        scheme:
          $ref: '#/components/schemas/response_scheme'
    response_employee_shortcut:
      type: object
      properties:
        id:
          type: integer
        token:
          type:
          - string
          - 'null'
        destination_url:
          type:
          - string
          - 'null'
        short_url:
          type:
          - string
          - 'null'
    response_fund:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        fact_sheet_url:
          type:
          - string
          - 'null'
        fund_provider:
          type:
          - string
          - 'null'
        target_date_fund_group:
          $ref: '#/components/schemas/response_target_date_fund_group'
    response_company:
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        registration_number:
          type:
          - string
          - 'null'
        tax_office_number:
          type:
          - string
          - 'null'
        tax_office_employer_reference:
          type:
          - string
          - 'null'
        legal_structure:
          type:
          - string
          - 'null'
        welcome_letters_reminder_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        pension_regulator_letter_code:
          type:
          - string
          - 'null'
        trading_address1:
          type:
          - string
          - 'null'
        trading_address2:
          type:
          - string
          - 'null'
        trading_address3:
          type:
          - string
          - 'null'
        trading_address_postcode:
          type:
          - string
          - 'null'
        trading_address_country:
          type:
          - string
          - 'null'
        reg_address1:
          type:
          - string
          - 'null'
        reg_address2:
          type:
          - string
          - 'null'
        reg_address3:
          type:
          - string
          - 'null'
        reg_address4:
          type:
          - string
          - 'null'
        reg_address_postcode:
          type:
          - string
          - 'null'
        reg_address_country:
          type:
          - string
          - 'null'
        pensionable_earning_type:
          type: string
        default_percentage:
          type:
          - number
          - 'null'
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        state:
          type: string
        employee_can_change_contribution:
          type: boolean
        uuid:
          type: string
        layout_configuration_id:
          type:
          - integer
          - 'null'
        relief_at_source_active:
          type:
          - boolean
          - 'null'
        only_employer_manages_membership:
          type: boolean
        national_insurance_saving_share:
          type:
          - number
          - 'null'
          format: float
        tax_relief_basis_type:
          type:
          - string
          - 'null'
        tax_relief_fallback_type:
          type:
          - string
          - 'null'
        direct_debit_optional:
          type: boolean
        skip_contribution_validations:
          type: boolean
        self_certification_started_at:
          type:
          - string
          - 'null'
          format: date-time
        customers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            customers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_customer'
        payments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            payments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_payment'
        employees:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            employees:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_employee'
        enrolments:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            enrolments:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_enrolment'
        imports:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            data:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_company_import'
        advisers:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            advisers:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_adviser'
        mandates:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            mandates:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_mandate'
        ultimate_beneficial_owners:
          type: object
          properties:
            limit:
              type:
              - integer
              - 'null'
            offset:
              type:
              - integer
              - 'null'
            total:
              type:
              - integer
              - 'null'
            links:
              type: array
              items:
                $ref: '#/components/schemas/link'
            ultimate_beneficial_owners:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/response_ultimate_beneficial_owner'
        benefit_groups:
          type: object
          properties:
[...]
