openapi: 3.2.0
info:
  title: Keystone Password API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: Password
paths:
  /customers/password:
    post:
      summary: Password/Create
      tags:
      - Password
      security:
      - oAuth2:
        - customer
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Two fa of customer is enabled:
                value:
                  reset_password_token: token
                  password: '!1234Qwertyuiop'
              Two fa of customer is disabled:
                value:
                  reset_password_token: token
                  password: '!1234Qwertyuiop'
            schema:
              type: object
              properties:
                password:
                  type: string
                password_confirmation:
                  type: string
                reset_password_token:
                  type: string
                invalidate_dob_confirmation:
                  type: boolean
              required:
              - password
              - reset_password_token
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                Two fa of customer is enabled:
                  value:
                    id: 526
                    api_key: null
                    two_fa_tmp_token: E2L_ReDEjSLM18sLgrrL
                Two fa of customer is disabled:
                  value:
                    id: 527
                    api_key: api_key
                    two_fa_tmp_token: null
              schema:
                $ref: '#/components/schemas/response_person_auth'
        '403':
          description: Forbidden
  /users/password:
    post:
      summary: Password
      tags:
      - Password
      security:
      - oAuth2:
        - user
        - adviser
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              reset_password_token: token
              password: testingpasswO!1
            schema:
              type: object
              properties:
                password:
                  type: string
                password_confirmation:
                  type: string
                reset_password_token:
                  type: string
                invalidate_dob_confirmation:
                  type: boolean
              required:
              - password
              - reset_password_token
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                id: 719
                api_key: F7PwWKYNpYmN1yAqhr0twg
                two_fa_tmp_token: null
              schema:
                $ref: '#/components/schemas/response_reset_password_auth'
        '422':
          description: Invalid parameters
components:
  schemas:
    response_reset_password_auth:
      type: object
      properties:
        api_key:
          type:
          - string
          - 'null'
        two_fa_tmp_token:
          type:
          - integer
          - 'null'
        reset_password_token:
          type:
          - string
          - 'null'
    response_person_auth:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        api_key:
          type:
          - string
          - 'null'
        two_fa_tmp_token:
          type:
          - string
          - 'null'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
