openapi: 3.2.0
info:
  title: Keystone Ultimate Beneficial Owners API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: UltimateBeneficialOwners
paths:
  /companies/{company_id}/ultimate_beneficial_owners/{id}:
    get:
      summary: Companies/UltimateBeneficialOwners/Get
      tags:
      - UltimateBeneficialOwners
      security:
      - oAuth2:
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1405
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 32
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 32
                company_id: 1406
                country_of_jurisdiction: UK
                date_of_birth: '1980-01-02'
                entity_name: Umbrella Corporation
                forename: Jose
                title: Dr
                gender: Female
                nationality: United Kingdom
                registered_address: 0 Northport Court
                surname: Clark
                exempt: false
                exemption_reason: Government body established under UAE Law
                type: The individual has significant control or influence over the company
                line1: null
                line2: null
                city: London
                country: null
                links:
                - rel: company
                  title: company
                  href: https://api.host.com/companies/1406
              schema:
                $ref: '#/components/schemas/response_ultimate_beneficial_owner'
        '404':
          description: Not Found
  /companies/{company_id}/ultimate_beneficial_owners:
    get:
      summary: Companies/UltimateBeneficialOwners/List
      tags:
      - UltimateBeneficialOwners
      security:
      - oAuth2:
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1411
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            country_of_jurisdiction:
              type: array
              items:
                type: string
            nationality:
              type: array
              items:
                type: string
            type:
              type: array
              items:
                type: string
            entity_name:
              type: array
              items:
                type: string
            forename:
              type: array
              items:
                type: string
            surname:
              type: array
              items:
                type: string
            registered_address:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success_with_ultimate_beneficial_owners:
                  value:
                    limit: 50
                    offset: 0
                    total: 1
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1408/ultimate_beneficial_owners
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1408/ultimate_beneficial_owners?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1408/ultimate_beneficial_owners?offset=0&limit=50
                    ultimate_beneficial_owners:
                    - id: 33
                      company_id: 1408
                      country_of_jurisdiction: UK
                      date_of_birth: '1980-01-02'
                      entity_name: Umbrella Corporation
                      forename: Wayne
                      title: Lord
                      gender: Undeclared
                      nationality: United Kingdom
                      registered_address: 01 2nd Trail
                      surname: Allen
                      exempt: false
                      exemption_reason: Government body established under UAE Law
                      type: The individual has significant control or influence over the company
                      line1: null
                      line2: null
                      city: London
                      country: null
                      links:
                      - rel: company
                        title: company
                        href: https://api.host.com/companies/1408
                success_without_ultimate_beneficial_owners:
                  value:
                    limit: 50
                    offset: 0
                    total: 0
                    links:
                    - rel: self
                      title: self
                      href: http://api.host.com/companies/1411/ultimate_beneficial_owners
                    - rel: first
                      title: first
                      href: http://api.host.com/companies/1411/ultimate_beneficial_owners?offset=0&limit=50
                    - rel: last
                      title: last
                      href: http://api.host.com/companies/1411/ultimate_beneficial_owners?offset=0&limit=50
                    ultimate_beneficial_owners: []
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  ultimate_beneficial_owners:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_ultimate_beneficial_owner'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_ultimate_beneficial_owner:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        country_of_jurisdiction:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        entity_name:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
        nationality:
          type:
          - string
          - 'null'
        registered_address:
          type:
          - string
          - 'null'
          format: text
        surname:
          type:
          - string
          - 'null'
        exempt:
          type: boolean
        exemption_reason:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        line1:
          type:
          - string
          - 'null'
        line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
