openapi: 3.2.0
info:
  title: Keystone Paid In Amounts API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: PaidInAmounts
paths:
  /companies/{company_id}/employees/{employee_id}/paid_in_amounts:
    get:
      summary: PaidInAmounts/List
      tags:
      - PaidInAmounts
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 742
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 374
        schema:
          type: string
      - name: calculated_ons[]
        in: query
        schema:
          type: array
          items:
            type: date
        required: false
        example: calculated_ons%5B%5D=2024-01-01&calculated_ons%5B%5D=2025-01-01
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 2
                offset: 0
                total: 2
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/742/employees/374/paid_in_amounts?calculated_ons%5B%5D=2024-01-01&calculated_ons%5B%5D=2025-01-01
                - rel: first
                  title: first
                  href: http://api.host.com/companies/742/employees/374/paid_in_amounts?calculated_ons%5B%5D=2024-01-01&calculated_ons%5B%5D=2025-01-01&offset=0&limit=2
                - rel: last
                  title: last
                  href: http://api.host.com/companies/742/employees/374/paid_in_amounts?calculated_ons%5B%5D=2024-01-01&calculated_ons%5B%5D=2025-01-01&offset=0&limit=2
                paid_in_amounts:
                - calculated_on: '2024-01-01'
                  amount: 0
                - calculated_on: '2025-01-01'
                  amount: 100
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  paid_in_amounts:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_paid_in_amount'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_paid_in_amount:
      type: object
      properties:
        calculated_on:
          type:
          - string
          - 'null'
          format: date
        amount:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
