openapi: 3.2.0
info:
  title: Keystone Notifications Accounts API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: NotificationsAccounts
paths:
  /notifications/accounts:
    post:
      summary: Notifications/Accounts/Create
      tags:
      - NotificationsAccounts
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              account:
                email: email@example.com
            schema:
              type: object
              properties:
                account:
                  type: object
                  properties:
                    email:
                      type: string
                  required:
                  - email
      responses:
        '204':
          description: Success
        '422':
          description: Unprocessable entity
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
