openapi: 3.2.0
info:
  title: Keystone Discovery API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: Discovery
paths:
  /:
    get:
      summary: Discovery/List
      tags:
      - Discovery
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                create_company: /companies
                create_adviser: /advisers
                constants: /constants
                errors: null
                company_by_slug: /companies/by_slug
                customers_by_email: null
                customer_password: /customers/password
                customers_referrals: /customers/referrals
                employees_referrals: /employees/referrals
                employees_password: /employees/password
                users_password: /users/password
                tpr: /tpr/staging_date
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
