openapi: 3.2.0
info:
  title: Keystone Schemes Available Currencies API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: SchemesAvailableCurrencies
paths:
  /companies/{company_id}/employees/{employee_id}/available_currencies:
    get:
      summary: SchemesAvailableCurrencies/List
      tags:
      - SchemesAvailableCurrencies
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 858
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 457
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: null
                offset: null
                total: null
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/companies/858/employees/457/available_currencies
                - rel: first
                  title: first
                  href: http://api.host.com/companies/858/employees/457/available_currencies?offset&limit
                - rel: last
                  title: last
                  href: http://api.host.com/companies/858/employees/457/available_currencies?offset&limit
                available_currencies:
                - id: 1
                  currency_name: USD
                  rate: 2
                - id: 2
                  currency_name: AED
                  rate: 2
              schema:
                type: object
                properties:
                  limit:
                    type:
                    - integer
                    - 'null'
                  offset:
                    type:
                    - integer
                    - 'null'
                  total:
                    type:
                    - integer
                    - 'null'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  available_currencies:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/response_schemes_available_currency'
components:
  schemas:
    link:
      type: object
      properties:
        rel:
          type: string
        title:
          type: string
        href:
          type: string
    response_schemes_available_currency:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        currency_name:
          type:
          - string
          - 'null'
        rate:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
