openapi: 3.2.0
info:
  title: Keystone Discounted Valuation API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
tags:
- name: DiscountedValuation
paths:
  /companies/{company_id}/employees/{employee_id}/discounted_valuation:
    get:
      summary: DiscountedValuation/Get
      tags:
      - DiscountedValuation
      security:
      - oAuth2:
        - employee
      parameters:
      - name: company_id
        in: path
        required: true
        example: 575
        schema:
          type: string
      - name: employee_id
        in: path
        required: true
        example: 259
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                amount: 1940
              schema:
                $ref: '#/components/schemas/response_discounted_valuation'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  schemas:
    response_discounted_valuation:
      type: object
      properties:
        amount:
          type:
          - number
          - 'null'
          format: float
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.sandbox.autoenrolment.co.uk/oauth/authorize
          tokenUrl: https://id.sandbox.autoenrolment.co.uk/oauth/token
          scopes:
            customer: 'Manage the customer''s company.

              - Create postponements

              - Create and import contributions

              - Edit company details

              - Add and edit employees'
            user: 'Manage all companies linked to the user''s adviser.

              - Manage adviser details

              - Add and edit adviser''s users

              - Create and import contributions for any company managed by the adviser'
            employee: 'Manage the employee account.

              - List employee contributions

              - Edit employee details and preferences'
x-samples-languages:
- curl
x-proxy-enabled: false
