openapi: 3.0.3
info:
  title: Keystone API
  version: v12
  description: This is the endpoint description of Keystone API.
servers:
- url: https://api.sandbox.autoenrolment.co.uk
- url: /
x-samples-languages:
- curl
x-proxy-enabled: false
paths:
  /account-claiming/confirm-personal-data:
    post:
      summary: Account-Claiming/confirm-personal-data
      tags:
      - Account-Claiming
      security:
      - oAuth2: []
      servers:
      - url: https://account-claiming.sandbox.autoenrolment.co.uk
        description: Account claiming API
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              title: Mr
              first_name: Kendall
              middle_name: null
              last_name: Roy
              phone_number: '+442071234567'
              address_line_1: 10 Downing Street
              address_line_2: Flat 12
              address_line_3: SW1A 2AA
              city: London
              country: GB
              postcode: SW1A 2AA
            schema:
              type: object
              properties:
                title:
                  type: string
                  nullable: true
                first_name:
                  type: string
                  nullable: true
                middle_name:
                  type: string
                  nullable: true
                last_name:
                  type: string
                  nullable: true
                phone_number:
                  type: string
                  nullable: true
                address_line_1:
                  type: string
                  nullable: true
                address_line_2:
                  type: string
                  nullable: true
                address_line_3:
                  type: string
                  nullable: true
                city:
                  type: string
                  nullable: true
                country:
                  type: string
                  nullable: true
                postcode:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 019fd1c8-fa96-745f-8734-ec645fd157ed
                state: succeeded
              schema:
                type: object
                properties:
                  id:
                    type: string
                    nullable: false
                  state:
                    type: string
                    nullable: false
        '401':
          description: Unauthorized - incorrect auth header
        '404':
          description: No attempt found
          content:
            application/json:
              example:
                error: Not Found
              schema:
                type: object
                properties:
                  error:
                    type: string
        '409':
          description: Invalid attempt state
          content:
            application/json:
              example:
                error: Attempt KYC must be completed
              schema:
                type: object
                properties:
                  error:
                    type: string
        '422':
          description: Personal data validation error
          content:
            application/json:
              examples:
                cannot_link_accounts:
                  value:
                    id: 019fd1c9-0096-76fd-a1b9-9df2561d3f06
                    state: failed_cannot_link
                    errors: []
                validation_error:
                  value:
                    id: 019fd1c9-0234-7df0-b2e6-9a0f65442f5a
                    state: kyc_completed
                    errors:
                    - code: 400114
                      title: Phone number format is invalid.
                      detail: Phone number is in invalid format.
                      meta: {}
                      source:
                        pointer: /data/attributes/phone_number
              schema:
                type: object
                properties:
                  id:
                    type: string
                    nullable: false
                  state:
                    type: string
                    nullable: false
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          nullable: false
                        title:
                          type: string
                          nullable: false
                        detail:
                          type: string
                          nullable: false
                        meta:
                          type: object
                          properties: {}
                          nullable: false
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              nullable: false
                          nullable: false
  /account-claiming/current-attempt:
    get:
      summary: Account-Claiming/current-attempt
      tags:
      - Account-Claiming
      security:
      - oAuth2: []
      servers:
      - url: https://account-claiming.sandbox.autoenrolment.co.uk
        description: Account claiming API
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                current_attempt:
                  id: 019fd1c9-0868-71b0-81a0-e12e7e2bba04
                  state: kyc_completed
                  person_identifier: a572a005-90b5-474e-a7d3-b623a64f9478
                  assumed_personal_data:
                    title: Mr
                    first_name: Kendall
                    middle_name: null
                    last_name: Roy
                    date_of_birth: '1978-09-22'
                    national_insurance_number: AA123456B
                    email: kendall.roy@example.com
                    phone_number: '+442071234567'
                    address_line_1: 10 Downing Street
                    address_line_2: Flat 12
                    address_line_3: null
                    region: England
                    city: London
                    country: GB
                    postcode: SW1A 2AA
              schema:
                type: object
                properties:
                  current_attempt:
                    type: object
                    properties:
                      id:
                        type: string
                        nullable: false
                      state:
                        type: string
                        nullable: false
                      person_identifier:
                        type: string
                        nullable: false
                      assumed_personal_data:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                            nullable: true
                          first_name:
                            type: string
                            nullable: true
                          middle_name:
                            type: string
                            nullable: true
                          last_name:
                            type: string
                            nullable: true
                          email:
                            type: string
                            nullable: true
                          date_of_birth:
                            type: string
                            nullable: true
                          national_insurance_number:
                            type: string
                            nullable: true
                          phone_number:
                            type: string
                            nullable: true
                          address_line_1:
                            type: string
                            nullable: true
                          address_line_2:
                            type: string
                            nullable: true
                          address_line_3:
                            type: string
                            nullable: true
                          region:
                            type: string
                            nullable: true
                          city:
                            type: string
                            nullable: true
                          country:
                            type: string
                            nullable: true
                          postcode:
                            type: string
                            nullable: true
                    nullable: true
        '401':
          description: Unauthorized - incorrect auth header
  /account-claiming/attempts/{uuid}/:
    get:
      summary: Account-Claiming/Attempt
      tags:
      - Account-Claiming
      parameters:
      - name: uuid
        in: path
        required: true
        example: 019fd1c9-0b84-7c51-98f2-41840fe294d9
        schema:
          type: string
      servers:
      - url: https://account-claiming.sandbox.autoenrolment.co.uk
        description: Account claiming API
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                attempt:
                  id: 019fd1c9-0b84-7c51-98f2-41840fe294d9
                  state: kyc_completed
                  person_identifier: 9c367203-d7c9-45df-82d8-3d90bc350500
                  assumed_personal_data:
                    title: Mr
                    first_name: Kendall
                    middle_name: null
                    last_name: Roy
                    date_of_birth: '1978-09-22'
                    national_insurance_number: AA123456B
                    email: kendall.roy@example.com
                    phone_number: '+442071234567'
                    address_line_1: 10 Downing Street
                    address_line_2: Flat 12
                    address_line_3: null
                    region: England
                    city: London
                    country: GB
                    postcode: SW1A 2AA
              schema:
                type: object
                properties:
                  attempt:
                    type: object
                    properties:
                      id:
                        type: string
                        nullable: false
                      state:
                        type: string
                        nullable: false
                      person_identifier:
                        type: string
                        nullable: true
                      assumed_personal_data:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                            nullable: true
                          first_name:
                            type: string
                            nullable: true
                          middle_name:
                            type: string
                            nullable: true
                          last_name:
                            type: string
                            nullable: true
                          email:
                            type: string
                            nullable: true
                          date_of_birth:
                            type: string
                            nullable: true
                          national_insurance_number:
                            type: string
                            nullable: true
                          phone_number:
                            type: string
                            nullable: true
                          address_line_1:
                            type: string
                            nullable: true
                          address_line_2:
                            type: string
                            nullable: true
                          address_line_3:
                            type: string
                            nullable: true
                          region:
                            type: string
                            nullable: true
                          city:
                            type: string
                            nullable: true
                          country:
                            type: string
                            nullable: true
                          postcode:
                            type: string
                            nullable: true
                    nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              example:
                error: Not Found
  /account-claiming/password-validations:
    get:
      summary: Account-Claiming/Password-Validations
      tags:
      - Account-Claiming
      servers:
      - url: https://account-claiming.sandbox.autoenrolment.co.uk
        description: Account claiming API
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                format:
                - regexp: .{10,}
                  description: Password must be at least 10 characters long
                - regexp: ^.{0, 65}$
                  description: Password must be at most 65 characters long
                - regexp: (?=.*[a-z])(?=.*[A-Z])
                  description: Password must include at least one lowercase and one uppercase letter
                - regexp: (?=.*[0-9])
                  description: Password must include at least one number
                - regexp: (?=.*[^A-Za-z0-9])
                  description: Password must include at least one symbol
                length:
                  min: 10
                  max: 65
              schema:
                type: object
                properties:
                  length:
                    type: object
                    nullable: false
                    properties:
                      min:
                        type: integer
                        nullable: false
                      max:
                        type: integer
                        nullable: false
                  format:
                    type: array
                    items:
                      type: object
                      properties:
                        regexp:
                          type: string
                          nullable: false
                        description:
                          type: string
                          nullable: false
  /account-claiming/attempts/{uuid}/additional-data:
    patch:
      summary: Account-Claiming/Attempt/AdditionalData
      tags:
      - Account-Claiming
      parameters:
      - name: uuid
        in: path
        required: true
        example: 019fd1c9-0fea-7926-ba74-a84471811663
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid:
                value:
                  previous_email: luke@skywalker.com
                  phone_number: '+442071234567'
                  address_line_1: Lars Homestead
                  address_line_2: '4'
                  address_line_3: ''
                  city: Tatooine
                  country: GB
                  postcode: SW1A 2AA
              invalid_parameters:
                value:
                  previous_email: invalid_email
                  phone_number: ABC-123
                  address_line_1: ''
                  address_line_2: ''
                  address_line_3: ''
                  city: ''
                  country: ''
                  postcode: ''
            schema:
              type: object
              properties:
                previous_email:
                  type: string
                  nullable: false
                phone_number:
                  type: string
                  nullable: false
                address_line_1:
                  type: string
                  nullable: false
                address_line_2:
                  type: string
                  nullable: true
                address_line_3:
                  type: string
                  nullable: true
                city:
                  type: string
                  nullable: false
                country:
                  type: string
                  nullable: false
                postcode:
                  type: string
                  nullable: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example: {}
              schema:
                type: object
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    error: Cannot provide additional data in current state
        '422':
          description: Invalid
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    errors:
                    - code: 400015
                      title: Address line 1 is a required field.
                      detail: Enter an address line 1.
                      meta: {}
                      source:
                        pointer: /data/attributes/address_line_1
                    - code: 400019
                      title: City is a required field.
                      detail: Enter a city.
                      meta: {}
                      source:
                        pointer: /data/attributes/city
                    - code: 400022
                      title: Country is a required field.
                      detail: Enter a Country.
                      meta: {}
                      source:
                        pointer: /data/attributes/country
                    - code: 400024
                      title: Postcode is a required field.
                      detail: Enter a Postcode.
                      meta: {}
                      source:
                        pointer: /data/attributes/postcode
                    - code: 400027
                      title: Previous email address is not valid.
                      detail: 'The email address you entered is not valid. This may be because of the address format or the
                        domain being unreachable. Make sure the address uses this format: name@something.com and that email
                        is enabled for this domain.'
                      meta: {}
                      source:
                        pointer: /data/attributes/previous_email
                    - code: 400014
                      title: Phone number format is invalid.
                      detail: Phone number is in invalid format.
                      meta: {}
                      source:
                        pointer: /data/attributes/phone_number
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          nullable: false
                        title:
                          type: string
                          nullable: false
                        detail:
                          type: string
                          nullable: false
                        meta:
                          type: object
                          properties: {}
                          nullable: false
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              nullable: false
                          nullable: false
  /account-claiming/attempts/{uuid}/email:
    patch:
      summary: Account-Claiming/Attempt/Email
      tags:
      - Account-Claiming
      parameters:
      - name: uuid
        in: path
        required: true
        example: 019fd1c9-1478-7ac6-adf2-d982c764a62a
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid:
                value:
                  current_email: luke@skywalker.com
              invalid_parameters:
                value:
                  current_email: invalid_email
            schema:
              type: object
              properties:
                current_email:
                  type: string
                  nullable: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example: {}
              schema:
                type: object
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    error: Cannot provide email in current state
        '422':
          description: Invalid
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    errors:
                    - code: 403002
                      title: Email address is not valid.
                      detail: 'The email address you entered is not valid. This may be because of the address format or the
                        domain being unreachable. Make sure the address uses this format: name@something.com and that email
                        is enabled for this domain.'
                      meta: {}
                      source:
                        pointer: /data/attributes/current_email
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          nullable: false
                        title:
                          type: string
                          nullable: false
                        detail:
                          type: string
                          nullable: false
                        meta:
                          type: object
                          properties: {}
                          nullable: false
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              nullable: false
                          nullable: false
  /account-claiming/attempts/{uuid}/password:
    patch:
      summary: Account-Claiming/Attempt/Password
      tags:
      - Account-Claiming
      parameters:
      - name: uuid
        in: path
        required: true
        example: 019fd1c9-18f2-7d37-9aa4-f014ac22b68b
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid:
                value:
                  password: 1234Qwertyuiop!
                  password_confirmation: 1234Qwertyuiop!
              invalid_parameters:
                value:
                  password: too_short_invalid
                  password_confirmation: 1234Qwertyuiop!
            schema:
              type: object
              properties:
                password:
                  type: string
                  nullable: false
                password_confirmation:
                  type: string
                  nullable: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example: {}
              schema:
                type: object
        '409':
          description: Invalid state
          content:
            application/json:
              examples:
                invalid_state:
                  value:
                    error: Cannot provide password in current state
        '422':
          description: Invalid
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    errors:
                    - code: 404001
                      title: Password is too short.
                      detail: Password is too short.
                      meta: {}
                      source:
                        pointer: /data/attributes/password
                    - code: 404002
                      title: Password is invalid.
                      detail: Password is invalid.
                      meta: {}
                      source:
                        pointer: /data/attributes/password
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          nullable: false
                        title:
                          type: string
                          nullable: false
                        detail:
                          type: string
                          nullable: false
                        meta:
                          type: object
                          properties: {}
                          nullable: false
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              nullable: false
                          nullable: false
  /account-claiming/attempts:
    post:
      summary: Account-Claiming/Attempt
      tags:
      - Account-Claiming
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              valid:
                value:
                  first_name: Anthony
                  last_name: Davis
                  date_of_birth: '1986-01-22'
                  national_insurance_number: AA123456B
              invalid_parameters:
                value:
                  first_name: ''
                  last_name: Davis
                  date_of_birth: not a data
                  national_insurance_number: AA12_invalid
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  nullable: false
                last_name:
                  type: string
                  nullable: false
                date_of_birth:
                  type: string
                  nullable: false
                national_insurance_number:
                  type: string
                  nullable: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                uuid: 019fd1c9-1f5a-7e76-bd1f-21b766ec0f32
                requires_additional_info: false
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    nullable: false
                  requires_additional_info:
                    type: boolean
                    nullable: false
        '422':
          description: Invalid
          content:
            application/json:
              examples:
                invalid_parameters:
                  value:
                    errors:
                    - code: 400003
                      title: First name is required.
                      detail: Enter a first name.
                      meta: {}
                      source:
                        pointer: /data/attributes/first_name
                    - code: 400009
                      title: Date of birth is required.
                      detail: Enter a date of birth.
                      meta: {}
                      source:
                        pointer: /data/attributes/date_of_birth
                    - code: 400012
                      title: National insurance number is invalid.
                      detail: Enter national insurance number in a proper format.
                      meta: {}
                      source:
                        pointer: /data/attributes/national_insurance_number
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          nullable: false
                        title:
                          type: string
                          nullable: false
                        detail:
                          type: string
                          nullable: false
                        meta:
                          type: object
                          properties: {}
                          nullable: false
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              nullable: false
                          nullable: false
  /accounts:
    get:
      summary: List all accounts associated with the authenticated identity
      tags:
      - Accounts
      security:
      - oAuth2:
        - individual
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                accounts_found:
                  value:
                  - id: 1
                    type: Individual
                    account_group_name: null
                    account_group_slug: null
                    employment_period_starts_on: null
                    employment_period_ends_on: null
                    app_url: https://individual.host.com/
                  - id: 2
                    type: Employee
                    account_group_name: vivamus vel 3
                    account_group_slug: est-3
                    employment_period_starts_on: '2016-08-05'
                    employment_period_ends_on: null
                    app_url: https://est-3.host.com/employee
                  - id: 3
                    type: Employee
                    account_group_name: hac habitasse 4
                    account_group_slug: condimentum-4
                    employment_period_starts_on: '2016-08-05'
                    employment_period_ends_on: null
                    app_url: https://condimentum-4.host.com/employee
                accounts_not_found:
                  value: []
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                      enum:
                      - Individual
                      - Employee
                    account_group_name:
                      type: string
                      nullable: true
                    account_group_slug:
                      type: string
                      nullable: true
                    employment_period_starts_on:
                      type: string
                      nullable: true
                    employment_period_ends_on:
                      type: string
                      nullable: true
                    app_url:
                      type: string
                      nullable: true
                  required:
                  - id
                  - type
        '401':
          description: Unauthorized - No associated accounts
  /adviser_companies:
    post:
      summary: AdviserCompany/Create
      tags:
      - AdviserCompanies
      security:
      - oAuth2:
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              adviser_company:
                token: Q_4L1eUexpfCxxDPsKDJ
            schema:
              type: object
              properties:
                adviser_company:
                  type: object
                  properties:
                    token:
                      type: string
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                id: 1
                adviser_id: 1
                company_id: 5
                preferred_contact_user_id: null
                created_at: '2026-08-05T12:57:32.000+01:00'
                updated_at: '2026-08-05T12:57:32.000+01:00'
              schema:
                $ref: '#/components/schemas/response_adviser_company'
                nullable: true
        '403':
          description: Forbidden when invitation does not exist
  /adviser_companies/adviser/{adviser_id}/company/{company_id}:
    patch:
      summary: AdviserCompanies/Update
      tags:
      - AdviserCompanies
      security:
      - oAuth2:
        - user
      parameters:
      - name: adviser_id
        in: path
        required: true
        example: 3
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        example: 6
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  adviser_company:
                    preferred_contact_user_id: 5
              empty_user_id:
                value:
                  adviser_company:
                    preferred_contact_user_id: ''
            schema:
              type: object
              properties:
                adviser_company:
                  type: object
                  properties:
                    preferred_contact_user_id:
                      type: integer
                  required:
                  - preferred_contact_user_id
      responses:
        '204':
          description: Success
        '422':
          description: Invalid parameters
          content:
            application/json:
              examples:
                not_adviser_user:
                  value:
                    errors:
                    - code: 150002
                      title: User does not belong to adviser.
                      detail: This action cannot be performed because the user does not belong to the adviser.
                      meta: {}
                      source:
                        pointer: /data/attributes/preferred_contact_user_id
                user_not_found:
                  value:
                    errors:
                    - code: 150001
                      title: User not found.
                      detail: Provided contact user does not exist.
                      meta: {}
                      source:
                        pointer: /data/attributes/preferred_contact_user_id
                empty_user_id:
                  value:
                    errors:
                    - code: 100001
                      title: Value can not be blank.
                      detail: Preferred contact user id is a required field.
                      meta: {}
                      source:
                        pointer: /data/attributes/preferred_contact_user_id
  /advisers:
    post:
      summary: Advisers/Create
      tags:
      - Adviser
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: name
              address: 30 Wellington Square, London ZE0 0ZZ
              email: name@email.com
              title: Mr
              forename: forename
              surname: surname
              telephone: +44 123 4567 890
              password: '!1234Qwertyuiop'
              signup_start: signup_start_text
              signup_finish: signup_finish_text
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
                marketing_included:
                  type: boolean
                password:
                  type: string
                title:
                  type: string
                forename:
                  type: string
                surname:
                  type: string
              required:
              - email
              - telephone
              - name
              - address
              - password
              - forename
              - surname
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                intercom_user_id: '8'
                intercom_user_id_hash: c08bec7292d6a2a31f37a0a63ef8bfc2bfe2070037edf140833c85b69d94fe2e
                id: 8
                name: name
                type: Adviser
                address: 30 Wellington Square, London ZE0 0ZZ
                created_at: '2026-08-05T12:57:36.000+01:00'
                updated_at: '2026-08-05T12:57:36.000+01:00'
                signup_start: signup_start_text
                signup_finish: signup_finish_text
                agent_number: null
                broker_channel: null
                broker_role: null
                abilities: []
                user_id: 10
                title: Mr
                forename: forename
                surname: surname
                email: name@email.com
                telephone: '+441234567890'
                api_key: rtMRHRm1UsETyGkIYyxmRw
                authorization_redirect_uri: https://id.host.com/user/callbacks/smartpension?code=m_zP_rzLQYMY5lvzvqkvOfCwyaClZa0P7ZfF-2f3aw8
              schema:
                $ref: '#/components/schemas/response_adviser'
                nullable: true
        '422':
          description: Invalid parameters
    get:
      summary: Advisers/List
      tags:
      - Adviser
      security:
      - oAuth2:
        - customer
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            id:
              type: array
              items:
                type: integer
            name:
              type: array
              items:
                type: string
            address:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 0
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/advisers
                - rel: first
                  title: first
                  href: http://api.host.com/advisers?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/advisers?offset=0&limit=50
                advisers: []
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    nullable: true
                  offset:
                    type: integer
                    nullable: true
                  total:
                    type: integer
                    nullable: true
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  advisers:
                    type: array
                    items:
                      $ref: '#/components/schemas/response_adviser'
                      nullable: true
                    nullable: true
        '401':
          description: Unauthorized
  /advisers/{adviser_id}/exports:
    post:
      summary: Exports/Create
      tags:
      - Exports
      security:
      - oAuth2:
        - user
      parameters:
      - name: adviser_id
        in: path
        required: true
        example: 9
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              type: CompaniesExport
              content_type: data
              file_format: csv
              resource_type: Adviser
              resource_id: 9
            schema:
              type: object
              properties:
                metadata:
                  type: object
                type:
                  type: string
                content_type:
                  type: string
                file_format:
                  type: string
                resource_type:
                  type: string
                resource_id:
                  type: integer
              required:
              - type
              - content_type
              - file_format
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                id: 1
                state: ignition
                file_url: null
                file_file_name: null
                created_at: '2026-08-05T12:57:37.000+01:00'
                updated_at: '2026-08-05T12:57:37.000+01:00'
                type: CompaniesExport
                content_type: data
                file_format: csv
                resource_type: Adviser
                resource_id: 9
                metadata: {}
                adviser_id: 9
                links:
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/9
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/9
              schema:
                $ref: '#/components/schemas/response_adviser'
                nullable: true
        '403':
          description: Forbidden
        '422':
          description: Parameters invalid.
    get:
      summary: Exports/List
      tags:
      - Exports
      security:
      - oAuth2:
        - user
      parameters:
      - name: adviser_id
        in: path
        required: true
        example: 15
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            state:
              type: array
              items:
                type: string
            created_at:
              type: array
              items:
                type: string
            type:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 2
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/advisers/15/exports
                - rel: first
                  title: first
                  href: http://api.host.com/advisers/15/exports?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/advisers/15/exports?offset=0&limit=50
                exports:
                - id: 4
                  state: ignition
                  file_url: null
                  file_file_name: null
                  created_at: '2026-08-05T12:57:39.000+01:00'
                  updated_at: '2026-08-05T12:57:39.000+01:00'
                  type: CompaniesExport
                  content_type: template
                  file_format: csv
                  resource_type: Adviser
                  resource_id: 15
                  metadata: {}
                  adviser_id: 15
                  links:
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/15
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/15
                - id: 5
                  state: ignition
                  file_url: null
                  file_file_name: null
                  created_at: '2026-08-05T12:57:39.000+01:00'
                  updated_at: '2026-08-05T12:57:39.000+01:00'
                  type: CompaniesExport
                  content_type: template
                  file_format: xls
                  resource_type: Adviser
                  resource_id: 15
                  metadata: {}
                  adviser_id: 15
                  links:
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/15
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/15
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    nullable: true
                  offset:
                    type: integer
                    nullable: true
                  total:
                    type: integer
                    nullable: true
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  exports:
                    type: array
                    items:
                      $ref: '#/components/schemas/response_adviser_export'
                      nullable: true
                    nullable: true
  /advisers/{adviser_id}/exports/{id}:
    get:
      summary: Advisers/Exports/Get
      tags:
      - AdviserExports
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 2
        schema:
          type: string
      - name: adviser_id
        in: path
        required: true
        example: 13
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: 2
                state: success
                file_url: null
                file_file_name: null
                created_at: '2026-08-05T12:57:38.000+01:00'
                updated_at: '2026-08-05T12:57:38.000+01:00'
                type: CompaniesExport
                content_type: template
                file_format: csv
                resource_type: Adviser
                resource_id: 13
                metadata: {}
                adviser_id: 13
                links:
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/13
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/13
              schema:
                $ref: '#/components/schemas/response_adviser_export'
                nullable: true
        '404':
          description: Not Found
  /advisers/by_token:
    get:
      summary: Advisers/GetByToken
      tags:
      - Adviser
      parameters:
      - name: referralToken
        in: query
        required: true
        example: referralToken=GwNH76ddiJruUshEQehZ
        schema:
          type: string
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - shortcut
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                name: super
                signup_start: null
                signup_finish: null
                id: 16
              schema:
                $ref: '#/components/schemas/response_adviser'
                nullable: true
        '404':
          description: Not Found
  /advisers/{id}:
    get:
      summary: Advisers/Get
      tags:
      - Adviser
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 17
        schema:
          type: string
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - shortcut
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                intercom_user_id: '17'
                intercom_user_id_hash: 1daae4d985f0f0f52c9d893ec2e83c4322799a25002849565878a66987a4beca
                id: 17
                name: super
                type: Adviser
                address: address
                created_at: '2026-08-05T12:57:40.000+01:00'
                updated_at: '2026-08-05T12:57:40.000+01:00'
                signup_start: null
                signup_finish: null
                agent_number: c389b17
                broker_channel: null
                broker_role: null
                abilities: []
              schema:
                $ref: '#/components/schemas/response_adviser'
                nullable: true
        '404':
          description: Not Found
    put:
      summary: Advisers/Update
      tags:
      - Adviser
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 29
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  email: james@test.com
                  name: James
                  address: 30 Wellington Square, London ZE0 0ZZ
                  adviser:
                    name: new name
                    signup_start: signup_start_text
                    signup_finish: signup_finish_text
              invalid_parameters:
                value:
                  email: james@test.com
                  name: James
                  address: 30 Wellington Square, London ZE0 0ZZ
                  adviser:
                    name: null
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
      responses:
        '204':
          description: Success
        '404':
          description: Not Found
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 554
                  title: Not Enough Characters for name provided.
                  detail: You need to enter a name with a minimum of 2 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/name
                - code: 556
                  title: Adviser name is required.
                  detail: You need to include a name for this adviser account; this is the name that clients of this adviser
                    will see.
                  meta: {}
                  source:
                    pointer: /data/attributes/name
    patch:
      summary: Advisers/Update
      tags:
      - Adviser
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 32
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  email: james@test.com
                  name: James
                  address: 30 Wellington Square, London ZE0 0ZZ
                  adviser:
                    name: new name
                    signup_start: signup_start_text
                    signup_finish: signup_finish_text
              invalid_parameters:
                value:
                  email: james@test.com
                  name: James
                  address: 30 Wellington Square, London ZE0 0ZZ
                  adviser:
                    name: null
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
      responses:
        '204':
          description: Success
        '404':
          description: Not Found
        '422':
          description: Invalid parameters
          content:
            application/json:
              example:
                errors:
                - code: 554
                  title: Not Enough Characters for name provided.
                  detail: You need to enter a name with a minimum of 2 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/name
                - code: 556
                  title: Adviser name is required.
                  detail: You need to include a name for this adviser account; this is the name that clients of this adviser
                    will see.
                  meta: {}
                  source:
                    pointer: /data/attributes/name
  /advisers/{id}/managed-employees:
    post:
      summary: Advisers/ManagedEmployees
      tags:
      - Adviser
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        description: Adviser ID
        required: true
        example: 23
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  employee_id: 4
            example:
              employee_id: 5
            schema:
              type: object
              properties:
                employee_id:
                  type: integer
                  description: Employee ID
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden - Current adviser is not a SuperAdviser
        '404':
          description: Not Found - Adviser does not exist
  /advisers/{adviser_id}/users:
    post:
      summary: Users/Create
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: adviser_id
        in: path
        required: true
        example: 35
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_request:
                value:
                  email: email@email.com
                  password: '!1234Qwertyuiop'
                  forename: forename
                  surname: surename
                  telephone: +44 123 4567 890
                  name: forename surename
                  address: Burj Khalifa
              invalid_parameter_request:
                value:
                  email: null
                  password: null
                  forename: null
                  surname: null
                  telephone: null
                  name: null
                  address: null
              forbidden_request:
                value:
                  email: jane@doe.fr
                  password: '!1234Qwertyuiop'
                  forename: Jane
                  surname: Doe
                  telephone: +44 123 4567 890
                  name: Jane Doe
                  address: Burj Al Arab
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
                marketing_included:
                  type: boolean
                password:
                  type: string
                title:
                  type: string
                forename:
                  type: string
                surname:
                  type: string
              required:
              - email
              - telephone
              - name
              - address
              - password
              - forename
              - surname
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                intercom_user_id: usr34
                intercom_user_id_hash: 4196187291a96b371b60ec347eacc9eccc25c4252dfbc31ff54b2f940dadc8f3
                id: 34
                email: email@email.com
                title: null
                forename: forename
                surname: surename
                api_key: XuxErut3CcbNmptG_O0f8Q
                telephone: '+441234567890'
                adviser_id: 35
                smart_analytics_access_permitted: false
                roles: []
                created_at: '2026-08-05T12:57:47.000+01:00'
                updated_at: '2026-08-05T12:57:47.000+01:00'
                links:
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/35
              schema:
                $ref: '#/components/schemas/response_adviser'
                nullable: true
        '403':
          description: Forbidden - number of users exceeds allowed limit
          content:
            application/json:
              example:
                errors:
                - code: 35
                  title: Maximum number of users reached!
                  detail: You cannot have more than 5 users.
                  form: null
                  attribute: base
                  error: out_of_limit
                  meta:
                    limit: 5
                    entity: users
                  source:
                    pointer: /base
        '422':
          description: Parameters invalid.
          content:
            application/json:
              example:
                errors:
                - code: 1812
                  title: Not Enough Characters for forename.
                  detail: You need to enter a forename with a minimum of 2 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/forename
                - code: 1806
                  title: Forename is a required field.
                  detail: You need to include the forename for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/forename
                - code: 1813
                  title: Not Enough Characters for surname.
                  detail: You need to enter a surname with a minimum of 2 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/surname
                - code: 1807
                  title: Surname is a required field.
                  detail: You need to include the surname for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/surname
                - code: 1818
                  title: Not Enough Characters for email.
                  detail: You need to enter an email with a minimum of 6 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/email
                - code: 1804
                  title: Email address is a required field.
                  detail: You need to enter an email address for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 1805
                  title: Email address is not valid.
                  detail: 'The email address you entered is not valid. This may be because of the address format or the domain
                    being unreachable. Make sure the address uses this format: name@something.com and that email is enabled
                    for this domain.'
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 1801
                  title: Password is a required field.
                  detail: You need to enter a password for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/password
                - code: 1808
                  title: Telephone number is a required field.
                  detail: You need to include a telephone number for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/telephone
    get:
      summary: Users/List
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: adviser_id
        in: path
        required: true
        example: 44
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          type: integer
        required: false
      - name: sort
        in: query
        schema:
          type: string
        required: false
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
        required: false
      - name: filter
        in: query
        schema:
          type: object
          properties:
            email:
              type: array
              items:
                type: string
            forename:
              type: array
              items:
                type: string
            surname:
              type: array
              items:
                type: string
        required: false
        style: deepObject
      - name: operator
        in: query
        schema:
          type: string
          enum:
          - or
          - and
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                limit: 50
                offset: 0
                total: 3
                links:
                - rel: self
                  title: self
                  href: http://api.host.com/advisers/44/users
                - rel: first
                  title: first
                  href: http://api.host.com/advisers/44/users?offset=0&limit=50
                - rel: last
                  title: last
                  href: http://api.host.com/advisers/44/users?offset=0&limit=50
                users:
                - intercom_user_id: usr48
                  intercom_user_id_hash: f27752495b99afc62e3d13f394e1483cedb5df7c86426da85b7bcda6da214156
                  id: 48
                  email: email@example.com
                  title: null
                  forename: forename
                  surname: surname
                  api_key: XPmRmfeBMmvOf9wO1U5vaA
                  telephone: '+441234567890'
                  adviser_id: 44
                  smart_analytics_access_permitted: false
                  roles: []
                  created_at: '2026-08-05T12:57:50.000+01:00'
                  updated_at: '2026-08-05T12:57:50.000+01:00'
                  links:
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/44
                - intercom_user_id: usr49
                  intercom_user_id_hash: 82f541aeae29a676cf8146881630baae7e106c058c2a095caf22d146a5ae6850
                  id: 49
                  email: user_1@example.com
                  title: null
                  forename: abcd
                  surname: surname
                  api_key: ''
                  telephone: 07854938738
                  adviser_id: 44
                  smart_analytics_access_permitted: false
                  roles: []
                  created_at: '2026-08-05T12:57:50.000+01:00'
                  updated_at: '2026-08-05T12:57:50.000+01:00'
                  links:
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/44
                - intercom_user_id: usr50
                  intercom_user_id_hash: e9d952b71f4087b777729758b602e159e60a776480c99fbeddff565991a6a2af
                  id: 50
                  email: user_2@example.com
                  title: null
                  forename: wxyz
                  surname: surname
                  api_key: ''
                  telephone: 07854938738
                  adviser_id: 44
                  smart_analytics_access_permitted: false
                  roles: []
                  created_at: '2026-08-05T12:57:50.000+01:00'
                  updated_at: '2026-08-05T12:57:50.000+01:00'
                  links:
                  - rel: adviser
                    title: adviser
                    href: https://api.host.com/advisers/44
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    nullable: true
                  offset:
                    type: integer
                    nullable: true
                  total:
                    type: integer
                    nullable: true
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/link'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/response_user'
                      nullable: true
                    nullable: true
  /advisers/{adviser_id}/users/{id}:
    delete:
      summary: Users/Destroy
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 41
        schema:
          type: string
      - name: adviser_id
        in: path
        required: true
        example: 38
        schema:
          type: string
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden when trying to delete last user.
    get:
      summary: Users/Get
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 44
        schema:
          type: string
      - name: adviser_id
        in: path
        required: true
        example: 40
        schema:
          type: string
      - name: include[]
        in: query
        schema:
          type: array
          items:
            enum:
            - adviser
            - adviser.company_tax_reliefs
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                intercom_user_id: usr44
                intercom_user_id_hash: 6867c1b7078dcf40b048a2c6bb248b11ceb2c44164a70fea6601b9ea99435a42
                id: 44
                email: email@example.com
                title: null
                forename: forename
                surname: surname
                api_key: saZjqVZ42gqN5nS3TV4Mfg
                telephone: '+441234567890'
                adviser_id: 40
                smart_analytics_access_permitted: false
                roles: []
                created_at: '2026-08-05T12:57:49.000+01:00'
                updated_at: '2026-08-05T12:57:49.000+01:00'
                links:
                - rel: adviser
                  title: adviser
                  href: https://api.host.com/advisers/40
              schema:
                $ref: '#/components/schemas/response_user'
                nullable: true
        '403':
          description: Failing when user belongs to another adviser.
          content:
            application/json:
              example:
                errors:
                - code: 374
                  title: You don't have the neccessary rights to perform this action.
                  detail: You don't have the necessary rights to perform this action.
                  form: null
                  attribute: base
                  error: generic_forbidden
                  meta: {}
                  source:
                    pointer: /base
        '404':
          description: Not Found
          content:
            application/json:
              example: ''
    put:
      summary: Users/Update
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 51
        schema:
          type: string
      - name: adviser_id
        in: path
        required: true
        example: 45
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_parameters:
                value:
                  email: john@doe.fr
                  name: John Doe
                  address: Burj Khalifa
              invalid_parameters:
                value:
                  email: null
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
      responses:
        '204':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              example: ''
        '422':
          description: Fail
          content:
            application/json:
              example:
                errors:
                - code: 1818
                  title: Not Enough Characters for email.
                  detail: You need to enter an email with a minimum of 6 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/email
                - code: 1804
                  title: Email address is a required field.
                  detail: You need to enter an email address for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 1805
                  title: Email address is not valid.
                  detail: 'The email address you entered is not valid. This may be because of the address format or the domain
                    being unreachable. Make sure the address uses this format: name@something.com and that email is enabled
                    for this domain.'
                  meta: {}
                  source:
                    pointer: /data/attributes/email
    patch:
      summary: Users/Update
      tags:
      - User
      security:
      - oAuth2:
        - user
      parameters:
      - name: id
        in: path
        required: true
        example: 54
        schema:
          type: string
      - name: adviser_id
        in: path
        required: true
        example: 48
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              valid_parameters:
                value:
                  email: john@doe.fr
                  name: John Doe
                  address: Burj Khalifa
              invalid_parameters:
                value:
                  email: null
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                name:
                  type: string
                  minimum: 2
                  maximum: 115
                address:
                  type: string
                  minimum: 2
                  maximum: 165
                signup_start:
                  type: string
                  minimum: 2
                  maximum: 120
                signup_finish:
                  type: string
                  minimum: 2
                  maximum: 120
                channel:
                  type: string
                agent_number:
                  type: string
                broker_role:
                  type: string
                broker_channel:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                annuity_option_enabled:
                  type: boolean
      responses:
        '204':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              example: ''
        '422':
          description: Fail
          content:
            application/json:
              example:
                errors:
                - code: 1818
                  title: Not Enough Characters for email.
                  detail: You need to enter an email with a minimum of 6 characters.
                  meta:
                    count: 2
                  source:
                    pointer: /data/attributes/email
                - code: 1804
                  title: Email address is a required field.
                  detail: You need to enter an email address for this user.
                  meta: {}
                  source:
                    pointer: /data/attributes/email
                - code: 1805
                  title: Email address is not valid.
                  detail: 'The email address you entered is not valid. This may be because of the address format or the domain
                    being unreachable. Make sure the address uses this format: name@something.com and that email is enabled
                    for this domain.'
                  meta: {}
                  source:
                    pointer: /data/attributes/email
  /batch:
    post:
      summary: Batch
      tags:
      - Batch
      security:
      - oAuth2:
        - user
        - customer
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              operations:
              - path: companies/15
                http_method: GET
              - path: companies/15
                http_method: GET
            schema:
              type: object
              properties:
                operations:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
                      http_method:
                        type: string
                    required:
                    - path
                    - http_method
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                operations:
                - status: 200
                  headers:
                    X-Frame-Options: SAMEORIGIN
                    X-XSS-Protection: '0'
                    X-Content-Type-Options: nosniff
                    X-Permitted-Cross-Domain-Policies: none
                    Referrer-Policy: strict-origin-when-cross-origin
                    Content-Type: application/json; charset=utf-8
                    Cache-Control: no-store; max-age=0
                    Pragma: no-cache
                    ETag: W/"970df745d26471477f588a948922c381"
                    Content-Security-Policy: font-src 'self' *.amazonaws.com fonts.googleapis.com fonts.gstatic.com *.typekit.net
                      *.intercomcdn.com
                    Content-Security-Policy-Report-Only: 'script-src ''self'' ''report-sample'' ''unsafe-inline'' ''unsafe-eval''
                      *.amazonaws.com cdnjs.cloudflare.com code.jquery.com *.google-analytics.com *.analytics.google.com *.googleapis.com
                      *.googletagmanager.com *.intercom.io *.intercomcdn.com maxcdn.bootstrapcdn.com *.rollbar.com *.segment.com
                      *.facebook.net *.facebook.com *.usercentrics.eu *.onetrust.com widget.trustpilot.com widget.usersnap.com
                      resources.usersnap.com *.clarity.ms assets.eg-cdn.co.uk; style-src ''self'' ''report-sample'' ''unsafe-inline''
                      fonts.googleapis.com *.typekit.net assets.eg-cdn.co.uk; object-src ''self'' assets.eg-cdn.co.uk; base-uri
                      ''self''; connect-src ''self'' *.amazonaws.com api.addressy.com *.doubleclick.net *.intercom.io *.intercomcdn.com
                      *.rollbar.com *.google-analytics.com *.analytics.google.com *.segment.com *.pndsn.com api.segment.io
                      *.usercentrics.eu *.onetrust.com *.clarity.ms wss: *.host.com; font-src ''self'' *.amazonaws.com fonts.googleapis.com
                      fonts.gstatic.com *.typekit.net *.intercomcdn.com; frame-src ''self'' *.amazonaws.com smartpension.typeform.com
                      intercom-sheets.com *.usercentrics.eu *.onetrust.com widget.trustpilot.com data:; img-src ''self'' *.amazonaws.com
                      *.google-analytics.com *.googletagmanager.com *.intercomcdn.com lh3.googleusercontent.com *.stats.g.doubleclick.net
                      static.intercomassets.com *.facebook.net *.facebook.com *.mzstatic.com *.google.com *.google.de *.google.bj
                      *.google.com.np *.google.ba *.google.jo *.google.sh *.google.by *.google.com.lb *.google.com.jm *.google.co.nz
                      *.google.co.zm *.google.co.cr *.google.ps *.google.co.th *.google.cn *.google.com.et *.google.cv *.google.no
                      *.google.co.ug *.google.ge *.google.co.tz *.google.lv *.google.com.qa *.google.com.co *.google.com.kw
                      *.google.hr *.google.dz *.google.co.ke *.google.fi *.google.co.kr *.google.kz *.google.dk *.google.com.ar
                      *.google.ch *.google.gg *.google.lt *.google.com.br *.google.com.ua *.google.com.tr *.google.md *.google.lu
                      *.google.ae *.google.be *.google.se *.google.hu *.google.rs *.google.com.sa *.google.com.eg *.google.com.bd
                      *.google.com.hk *.google.com.my *.google.com.gt *.google.com.gh *.google.mk *.google.co.zw *.google.sk
                      *.google.co.za *.google.it *.google.az *.google.cz *.google.co.uk *.google.mu *.google.at *.google.com.mt
                      *.google.al *.google.pt *.google.co.jp *.google.com.au *.google.ro *.google.lk *.google.com.mx *.google.gr
                      *.google.ru *.google.com.ph *.google.nl *.google.com.cy *.google.co.il *.google.co.in *.google.ca *.google.com.ng
                      *.google.com.ag *.google.es *.google.fr *.google.pl *.google.bg *.google.im *.google.com.pk *.google.ie
                      *.gstatic.com *.usercentrics.eu *.onetrust.com data: *.autoenrolment.co.uk *.clarity.ms assets.eg-cdn.co.uk;
                      manifest-src ''self'' assets.eg-cdn.co.uk; media-src ''self'' *.intercomcdn.com; worker-src ''none'';
                      report-uri https://api.host.com/csp_reports'
                  body:
                    id: 15
                    name: name
                    slug: name
                    registration_number: number
                    tax_office_number: null
                    tax_office_employer_reference: null
                    legal_structure: Limited Company
                    welcome_letters_reminder_sent_at: null
                    pension_regulator_letter_code: null
                    trading_address1: null
                    trading_address2: null
                    trading_address3: null
                    trading_address_postcode: null
                    trading_address_country: null
                    reg_address1: null
                    reg_address2: null
                    reg_address3: null
                    reg_address4: null
                    reg_address_postcode: null
                    reg_address_country: null
                    pensionable_earning_type: unbanded
                    default_percentage: 3
                    created_at: '2026-08-05T12:57:53.000+01:00'
                    updated_at: '2026-08-05T12:57:53.000+01:00'
                    state: active
                    employee_can_change_contribution: true
                    uuid: 6b6e7882-953e-46ba-9ad4-d0e4caa21b10
                    external_id: null
                    incorporated_on: null
                    layout_configuration_id: null
                    relief_at_source_active: false
                    only_employer_manages_membership: false
                    national_insurance_saving_share: 0
                    tax_relief_basis_type: net_pay_arrangement
                    tax_relief_fallback_type: null
                    direct_debit_optional: false
                  path: companies/15
                  http_method: null
                  data: null
                - status: 200
                  headers:
                    X-Frame-Options: SAMEORIGIN
                    X-XSS-Protection: '0'
                    X-Content-Type-Options: nosniff
                    X-Permitted-Cross-Domain-Policies: none
                    Referrer-Policy: strict-origin-when-cross-origin
                    Content-Type: application/json; charset=utf-8
                    Cache-Control: no-store; max-age=0
                    Pragma: no-cache
                    ETag: W/"970df745d26471477f588a948922c381"
                    Content-Security-Policy: font-src 'self' *.amazonaws.com fonts.googleapis.com fonts.gstatic.com *.typekit.net
                      *.intercomcdn.com
                    Content-Security-Policy-Report-Only: 'script-src ''self'' ''report-sample'' ''unsafe-inline'' ''unsafe-eval''
                      *.amazonaws.com cdnjs.cloudflare.com code.jquery.com *.google-analytics.com *.analytics.google.com *.googleapis.com
                      *.googletagmanager.com *.intercom.io *.intercomcdn.com maxcdn.bootstrapcdn.com *.rollbar.com *.segment.com
                      *.facebook.net *.facebook.com *.usercentrics.eu *.onetrust.com widget.trustpilot.com widget.usersnap.com
                      resources.usersnap.com *.clarity.ms assets.eg-cdn.co.uk; style-src ''self'' ''report-sample'' ''unsafe-inline''
                      fonts.googleapis.com *.typekit.net assets.eg-cdn.co.uk; object-src ''self'' assets.eg-cdn.co.uk; base-uri
                      ''self''; connect-src ''self'' *.amazonaws.com api.addressy.com *.doubleclick.net *.intercom.io *.intercomcdn.com
                      *.rollbar.com *.google-analytics.com *.analytics.google.com *.segment.com *.pndsn.com api.segment.io
                      *.usercentrics.eu *.onetrust.com *.clarity.ms wss: *.host.com; font-src ''self'' *.amazonaws.com fonts.googleapis.com
                      fonts.gstatic.com *.typekit.net *.intercomcdn.com; frame-src ''self'' *.amazonaws.com smartpension.typeform.com
                      intercom-sheets.com *.usercentrics.eu *.onetrust.com widget.trustpilot.com data:; img-src ''self'' *.amazonaws.com
                      *.google-analytics.com *.googletagmanager.com *.intercomcdn.com lh3.googleusercontent.com *.stats.g.doubleclick.net
                      static.intercomassets.com *.facebook.net *.facebook.com *.mzstatic.com *.google.com *.google.de *.google.bj
                      *.google.com.np *.google.ba *.google.jo *.google.sh *.google.by *.google.com.lb *.google.com.jm *.google.co.nz
                      *.google.co.zm *.google.co.cr *.google.ps *.google.co.th *.google.cn *.google.com.et *.google.cv *.google.no
                      *.google.co.ug *.google.ge *.google.co.tz *.google.lv *.google.com.qa *.google.com.co *.google.com.kw
                      *.google.hr *.google.dz *.google.co.ke *.google.fi *.google.co.kr *.google.kz *.google.dk *.google.com.ar
                      *.google.ch *.google.gg *.google.lt *.google.com.br *.google.com.ua *.google.com.tr *.google.md *.google.lu
                      *.google.ae *.google.be *.google.se *.google.hu *.google.rs *.google.com.sa *.google.com.eg *.google.com.bd
                      *.google.com.hk *.google.com.my *.google.com.gt *.google.com.gh *.google.mk *.google.co.zw *.google.sk
                      *.google.co.za *.google.it *.google.az *.google.cz *.google.co.uk *.google.mu *.google.at *.google.com.mt
                      *.google.al *.google.pt *.google.co.jp *.google.com.au *.google.ro *.google.lk *.google.com.mx *.google.gr
                      *.google.ru *.google.com.ph *.google.nl *.google.com.cy *.google.co.il *.google.co.in *.google.ca *.google.com.ng
                      *.google.com.ag *.google.es *.google.fr *.google.pl *.google.bg *.google.im *.google.com.pk *.google.ie
                      *.gstatic.com *.usercentrics.eu *.onetrust.com data: *.autoenrolment.co.uk *.clarity.ms assets.eg-cdn.co.uk;
                      manifest-src ''self'' assets.eg-cdn.co.uk; media-src ''self'' *.intercomcdn.com; worker-src ''none'';
                      report-uri https://api.host.com/csp_reports'
                  body:
                    id: 15
                    name: name
                    slug: name
                    registration_number: number
                    tax_office_number: null
                    tax_office_employer_reference: null
                    legal_structure: Limited Company
                    welcome_letters_reminder_sent_at: null
                    pension_regulator_letter_code: null
                    trading_address1: null
                    trading_address2: null
                    trading_address3: null
                    trading_address_postcode: null
                    trading_address_country: null
                    reg_address1: null
                    reg_address2: null
                    reg_address3: null
                    reg_address4: null
                    reg_address_postcode: null
                    reg_address_country: null
                    pensionable_earning_type: unbanded
                    default_percentage: 3
                    created_at: '2026-08-05T12:57:53.000+01:00'
                    updated_at: '2026-08-05T12:57:53.000+01:00'
                    state: active
                    employee_can_change_contribution: true
                    uuid: 6b6e7882-953e-46ba-9ad4-d0e4caa21b10
                    external_id: null
                    incorporated_on: null
                    layout_configuration_id: null
                    relief_at_source_active: false
                    only_employer_manages_membership: false
                    national_insurance_saving_share: 0
                    tax_relief_basis_type: net_pay_arrangement
                    tax_relief_fallback_type: null
                    direct_debit_optional: false
                  path: companies/15
                  http_method: null
                  data: null
              schema:
                type: object
                properties:
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: number
                        headers:
                          type: object
                        body:
                          type: object
                        path:
                          type: string
                        http_method:
                          type: string
                          nullable: true
                        data:
                          type: object
                          nullable: true
  /employee/callbacks/smartpension:
    get:
      summary: Tokens/Callback
      tags:
      - Tokens
      parameters:
      - name: Token-Type
        in: header
        required: false
        description: Type of authentication token.
        examples:
          jwt:
            value: jwt
          plain:
            value: plain
        schema:
          type: string
      - name: code
        in: query
        required: false
        schema:
          type: string
      responses:
        '302':
          description: Failure
          content:
            text/html:
              examples:
                success:
                  value: ''
                failure:
                  value: ''
  /cities/{country_code}/autocomplete:
    get:
      summary: Cities/Autocomplete
      tags:
      - Cities
      description: Autocomplete cities by country code and city prefix
      parameters:
      - name: country_code
        in: path
        required: true
        description: Country code to filter cities
        example: US
        schema:
          type: string
      - name: city_prefix
        in: query
        required: true
        description: Prefix of the city name to filter cities
        example: city_prefix=New
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit the number of returned cities
        default: 50
        example: limit=10
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: Offset the results
        default: 0
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                success:
                  value:
                    cities:
                    - name: New Albany
                      country_code: US
                      state_code: IN
                    - name: New Albany
                      country_code: US
                      state_code: MS
                    - name: New Albany
                      country_code: US
                      state_code: OH
                    - name: New Athens
                      country_code: US
                      state_code: IL
                    - name: New Augusta
                      country_code: US
                      state_code: MS
                    - name: New Baden
                      country_code: US
                      state_code: IL
                    - name: New Baltimore
                      country_code: US
                      state_code: VA
                    - name: New Baltimore
                      country_code: US
                      state_code: MI
                    - name: New Beaver
                      country_code: US
                      state_code: PA
                    - name: New Bedford
                      country_code: US
                      state_code: MA
              schema:
                $ref: '#/components/schemas/response_cities'
                nullable: true
        '422':
          description: Unprocessable entity
          content:
            application/json:
              examples:
                empty_city_prefix:
                  value:
                    errors:
                    - Prefix cannot be empty
  /companies/{company_id}/adviser_invitations/{id}/cancel:
    post:
      summary: Companies/AdviserInvitations/Cancel
      tags:
      - AdviserInvitations
      security:
      - oAuth2:
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 19
        schema:
          type: string
      - name: id
        in: path
        required: true
        example: 2
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example: null
      responses:
        '204':
          description: Success
        '403':
          description: Forbidden - invitation already accepted
        '404':
          description: Not Found
  /companies/{company_id}/adviser_invitations:
    post:
      summary: Companies/AdviserInvitations/Create
      tags:
      - AdviserInvitations
      security:
      - oAuth2:
        - customer
      parameters:
      - name: company_id
        in: path
        required: true
        example: 23
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              adviser_email: test@example.com
            schema:
              type: object
              properties:
                adviser_email:
                  type: string
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                id: 5
                token: tJyS7pxy8sxd_UaUiauF
                company_id: 23
                accepted: false
                adviser_email: test@example.com
                url: https://adviser.host.com/invitations/tJyS7pxy8sxd_UaUiauF
[...]
